瑪麗·里德（Mary Read，卒於 1721 年 4 月）是一位英國海盜。她和安妮·邦尼是「海盜黃金時代」少數的女海盜之一。

里德很可能出生在英國。 《通史》稱，她很小的時候就開始打扮成男孩，起初是在母親的敦促下，以便獲得繼承遺產，然後在十幾歲的時候，為了加入英國軍隊。隨後她結婚了，並在 1715 年左右丈夫去世後搬到了西印度群島。

1720 年 8 月左右，她加入了傑克·拉克姆 (Jack Rackham) 的船員隊伍，與安妮·邦尼 (Anne Bonny) 一起女扮男裝。她的海盜生涯很短暫，她、邦尼和拉克姆於 1720 年 10 月被捕。 1721 年 4 月，里德在獄中去世。

早期生活

瑪麗的母親嫁給了一名水手，並育有一子。隨後丈夫失蹤在海上。隨後，他的母親開始為這個男孩提供經濟支持。

不久她又被另一個男人懷孕，隱瞞了二胎的恥辱。她的兒子去世了，然後她生了一個女孩瑪麗。為了掩蓋恥辱，她的母親將小瑪麗冒充為她的第一個也是唯一的孩子，即男孩，繼續接受男孩祖母的支持。祖母被愚弄了，他們就靠她的錢生活得越久越好。

13 歲時，里德打扮成男孩，找到了一份男僕的工作，然後在船上找到了一份工作。後來她加入了英國軍隊，並成為英國戰艦的船員。後來她放棄了這個職位，搬到了佛蘭德斯，作為一名學員，她在一個步兵團中攜帶武器，勇敢地服役，但無法獲得佣金，因為當時的晉升主要是通過購買。瑪麗加入了一個騎兵團，該團與荷蘭軍隊結盟對抗法國（這可能是在九年戰爭或西班牙王位繼承戰爭期間）。里德女扮男裝，透過戰鬥證明了自己，卻愛上了佛蘭德士兵。當他們結婚時，她利用軍事委員會和感興趣的武裝弟兄的禮物，在荷蘭布雷達城堡附近買下了一家名為“De drie hoefijzers”（“三隻馬蹄鐵”）的旅館。

丈夫早逝後，里德在荷蘭恢復了男性服裝和服兵役。和平之下，沒有了升遷的空間，她辭了職，登上了開往西印度群島的船。她所乘坐的船，恰好被一艘海盜船所登上。當英國船員收留她時，偽裝成英國男性對她有幫助。

成為海盜

里德的船被海盜劫持，她自願加入。她接受了國王的赦免 c． 1718-1719，然後接受了私掠船的委託，但加入了船員叛變。 1720年，她加入了海盜約翰「卡利科傑克」拉克姆和他的同伴安妮邦尼，他們都相信她是個男人。 1720 年 8 月 22 日，三人從拿騷港口偷走了一艘名為威廉的武裝單桅帆船。學者們不確定像里德和邦尼這樣的女海盜是如何在男性主導的環境中隱藏自己的性別的。然而，一些學者推測，女海盜穿馬褲可能是隱藏身份的一種方法，或者只是作為實用的服裝，以鞏固她們在船上與其他海員一起工作的地位。

當邦妮告訴里德她是一個女人，因為她被她吸引時，里德透露她也是一個女人。為了減輕她的情人拉克姆（Rackham）懷疑兩人之間有浪漫關係的嫉妒，邦妮告訴他里德是個女人。對邦尼和里德之間關係的猜測導致出現了描繪兩人一起戰鬥的圖像。

海盜的受害者多蘿西·托馬斯(Dorothy Thomas) 留下了對里德和邦妮的描述：他們「穿著男式夾克和長褲，頭上綁著手帕……每個人手裡都拿著砍刀和手槍，他們咒罵並發誓要謀殺她[多蘿西·托馬斯]。湯瑪斯還記錄說，「從她們的胸部」來看，她知道她們是女性。

逮捕和監禁

1720 年10 月22 日，前私掠船船長喬納森·巴尼特(Jonathan Barnet) 令拉克姆的船員們大吃一驚，當時他們正在牙買加殖民地西海岸的尼格瑞爾角(Negril Point) 與另一名英國船員舉辦朗姆酒派對。據稱，在一陣齊射使海盜船癱瘓後，拉克姆的船員和他們的“客人”逃到貨艙，只剩下兩名婦女和另外一名男子與巴尼特的登船隊戰鬥（也有可能拉克姆和他的船員喝得太醉了）去戰鬥）。官方審判記錄顯示，在巴尼特開槍回應之前，除了旋轉槍開火外，沒有任何防禦措施。記錄顯示，此後拉克姆和他的船員投降了，並請求「四分之一」。

拉克姆和他的船員在現在的牙買加西班牙鎮被捕並受審，他們因海盜行為被判處絞刑，里德和邦尼也被判處絞刑。然而，這兩名婦女聲稱她們都「快要生孩子了」（被稱為「懇求肚子」），並被暫時緩期執行死刑。

里德於 1721 年 4 月在監獄中去世。沒有埋葬她孩子的記錄，這表明她可能在懷孕期間死亡，或者可能從未懷孕。
