Mary Read (suri aprillis 1721) oli inglise piraat. Tema ja Anne Bonny olid "piraatluse kuldajastul" väheste naispiraatide hulgas.

Read sündis tõenäoliselt Inglismaal. Üldine ajalugu ütleb, et ta hakkas noores eas riietuma poisikesena, algul ema õhutusel, et saada pärandiraha, ja seejärel teismelisena, et Briti sõjaväeteenistusse minna. Seejärel ta abiellus ja pärast abikaasa surma kolis 1715. aasta paiku Lääne-Indiasse.

1720. aasta augusti paiku liitus ta Jack Rackhami meeskonnaga, riietus Anne Bonny kõrval meheks. Tema aeg piraadina jäi lühikeseks, kuna tema, Bonny ja Rackham arreteeriti oktoobris 1720. Rackham hukati novembris, kuid Read ja Bonny väitsid mõlemad, et on oma kohtuprotsesside ajal rasedad ja said karistuse edasilükkamisega. Read suri vangistuses 1721. aasta aprillis.

Varajane elu

Maarja ema oli abiellunud meremehega, kellega tal sündis poeg. Abikaasa kadus siis merele. Tema ema hakkas seejärel saatma poisile rahalist toetust.

Peagi jäi ta uuesti rasedaks teiselt mehelt, varjates häbiväärset teist rasedust. Tema poeg suri, seejärel sünnitas ta tüdruku Mary. Häbi varjamiseks loovutas tema ema noore Mary esimese ja ainsa lapsena, poisi, kes jätkas poisi vanaemalt tuge. Vanaema sai lolliks ja nad elasid tema rahast nii kaua kui võimalik.

13-aastaselt, poisikesena riietatud, leidis Read tööd jalamehena ja seejärel töökoha laeval. Hiljem liitus ta Briti sõjaväe ja Briti sõjamehe meeskonnaga. Hiljem loobus ta sellest ja kolis Flandriasse, kus ta kandis kadetina rügemendis relvi ja teenis vapralt, kuid ei saanud vahendustasu, sest neil päevil edutati peamiselt ostmise teel. Mary läks edasi hobuste rügemendi juurde, mis oli liidus Hollandi vägedega prantslaste vastu (see võis juhtuda üheksa-aastase sõja või Hispaania pärilussõja ajal). Meeste maskeeringus Read tõestas end läbi lahingu, kuid armus flaami sõdurisse. Kui nad abiellusid, kasutas ta nende sõjalist tellimust ja intrigeeritud relvavendade kingitusi, et omandada võõrastemaja nimega "De dre hoefijzers" ("Kolm hobuserauda") Hollandis Breda lossi lähedal.

Pärast abikaasa enneaegset surma jätkas Read meeste riietumist ja ajateenistust Hollandis. Rahuga ei olnud edasiminekuks ruumi, mistõttu ta loobus ja astus Lääne-Indiasse suunduvale laevale. Laev, mille pardale ta läks, sattus piraadilaeva pardale. Briti meheks maskeerumine aitas teda, sest Briti meeskonnaliikmed võtsid ta enda juurde.

Piraadiks saamine

Readi laeva vallutasid piraadid, kellega ta meelsasti ühines. Ta võttis kuningalt armu c. 1718–1719, võttis seejärel tellimustöö eraisikule, kuid liitus meeskonnaga mässu käigus. Aastal 1720 liitus ta piraat John "Calico Jack" Rackhami ja tema kaaslase Anne Bonnyga, kes mõlemad uskusid, et ta on mees. 22. augustil 1720 varastasid kolmik Nassau sadamast relvastatud sloopi nimega William. Teadlased pole kindlad, kuidas naispiraadid nagu Read ja Bonny oma seksi meeste domineerivas keskkonnas varjasid. Mõned teadlased on aga väitnud, et naispiraatide põlvpükste kandmine võis olla kas oma identiteedi varjamise meetod või lihtsalt praktiline riietus, mis tugevdas nende töökohta laeva pardal teiste meremeeste seas.

Kui Bonny ütles Readile, et ta on naine, sest teda tõmbas, paljastas Read, et ka tema on naine. Et leevendada oma väljavalitu Rackhami armukadedust, kes kahtlustas nende kahe vahel romantilist seotust, ütles Bonny talle, et Read on naine. Spekulatsioonid Bonny ja Readi suhete üle viisid piltideni, mis kujutavad neid kahte koos lahingus.

Piraatide ohver Dorothy Thomas jättis Readi ja Bonny kohta kirjelduse: Nad "kandsid meeste jopesid ja pikki pükse ning pähe seotud taskurätikuid ja ... igaühel oli käes matğeet ja püstol ning nad needsid ja vandusid mehi, et nad ta [Dorothy Thomas] mõrvavad." Thomas kirjutas ka üles, et ta teadis nende rindade suuruse tõttu, et tegemist on naistega.

Vangistamine ja vangistus

22. oktoobril 1720 üllatas endine eraisik kapten Jonathan Barnet Rackhami meeskonda, samal ajal kui nad korraldasid Jamaica koloonia lääneranniku lähedal Negril Pointis koos teise inglaste meeskonnaga rummipeo. Väidetavalt põgenesid Rackhami meeskond ja nende "külalised" pärast seda, kui tulekahju piraatlaeva invaliidistas, trümmi, jättes vaid kaks naist ja veel ühe Barneti pardaleminekuga võitlema (võimalik on ka, et Rackham ja tema meeskond olid liiga purjus võitlema). Ametlik prooviprotokoll ütleb, et enne kui Barnet vastuseks tulistas, ei olnud kaitset paigaldatud, välja arvatud pöörlev püstol. Pärast seda öeldakse plaadil, et Rackham ja tema meeskond alistusid, nõudes "veerandit".

Rackham ja tema meeskond arreteeriti ja anti kohtu alla Jamaical praeguses Hispaania linnas, kus nad mõisteti piraatluse eest poomisele, nagu ka Read ja Bonny. Naised väitsid aga, et nad on "kiired lapsega" (tuntud kui "kõhu palumine") ja said ajutise hukkamise peatamise.

Read suri vanglas 1721. aasta aprillis. Tema matmine 28. aprillil on Jamaica Püha Katariina kiriku registris. Puuduvad andmed tema lapse matmise kohta, mis viitab sellele, et ta võis surra raseduse ajal või võib-olla ei olnud ta kunagi rase olnud.
