Mary Read (zemøel v dubnu 1721), byl anglickı pirát. Ona a Anne Bonny byly jedny z mála pirátek bìhem "zlatého vìku pirátství".

Read se pravdìpodobnì narodil v Anglii. Obecná historie øíká, e se zaèala oblékat jako chlapec v mladém vìku, nejprve na naléhání své matky, aby získala peníze z dìdictví, a poté jako teenager, aby se pøipojila k britské armádì. Poté se vdala a po smrti svého manela se kolem roku 1715 pøestìhovala do Západní Indie.

Kolem srpna 1720 se pøipojila k posádce Jacka Rackhama a oblékala se jako mu po boku Anne Bonny. Její doba jako pirátka byla krátká, protoe ona, Bonny a Rackham byli zatèeni v øíjnu 1720. Rackham byl popraven v listopadu, ale Read a Bonny oba tvrdili, e byli tìhotní bìhem svıch soudù a dostali odloené tresty. Read zemøel ve vìzení v dubnu 1721.

Ranı ivot

Maryina matka se provdala za námoøníka, se kterım mìla syna. Manel poté zmizel na moøi. Jeho matka pak zaèala chlapce finanènì podporovat.

Brzy znovu otìhotnìla s jinım muem a skrıvala ostudné druhé tìhotenství. Zemøel jí syn a porodila dívku Mary. Aby skryla hanbu, její matka vydala mladou Mary za své první a jediné dítì, chlapce, aby i nadále dostávala podporu od chlapcovy babièky. Babièka se nechala napálit a z jejích penìz ili, dokud to šlo.

Ve 13 letech, obleèenı jako chlapec, Read našel práci jako pìšák a poté zamìstnání na lodi. Pozdìji vstoupila do britské armády a do posádky britského váleèného mue. Pozdìji toho nechala a pøestìhovala se do Flander, kde jako kadetka nosila zbranì v pìším pluku a slouila stateènì, ale nemohla dostat provizi, protoe povıšení v té dobì bylo vìtšinou nákupem. Mary pøešla k pluku koní, kterı byl spojen s nizozemskımi silami proti Francouzùm (mohlo to bıt bìhem devítileté války nebo bìhem války o španìlské dìdictví). Readová se v muském pøestrojení osvìdèila v bitvì, ale zamilovala se do vlámského vojáka. Kdy se vzali, vyuila jejich vojenského povìøení a darù od zaujatıch bratrù ve zbrani k získání hostince s názvem "De drie hoefijzers" ("Tøi podkovy") poblí hradu Breda v Nizozemsku.

Po pøedèasné smrti svého manela se Readová vrátila do muského obleèení a do vojenské sluby v Nizozemsku. S mírem nebyl prostor pro pokrok, a tak toho nechala a nastoupila na loï smìøující do Západní Indie. Na loï, na kterou nastoupila, nastoupila náhodou pirátská loï. Pomohlo jí to, e byla pøevleèená za britského mue, protoe ji pøijali britští èlenové posádky.

Stát se pirátem

Readovu loï zabrali piráti, ke kterım se ochotnì pøidala. Pøijala královu milost c. 1718-1719, poté pøijal provizi k lupièùm, ale pøipojil se k posádce ve vzpouøe. V roce 1720 se pøipojila k pirátovi Johnu "Calico Jackovi" Rackhamovi a jeho spoleènici Anne Bonnyové, kteøí ji oba vìøili, e je mu. 22. srpna 1720 ti tøi ukradli ozbrojenou šalupu jménem William z pøístavu v Nassau. Uèenci si nejsou jisti, jak pirátky jako Read a Bonny skrıvaly své pohlaví v prostøedí, kde dominují mui. Nìkteøí uèenci však pøišli s teorií, e nošení kalhot pirátek mohlo bıt buï metodou skrıvání jejich identity, nebo jednoduše jako praktické obleèení, které zpevnilo jejich pracovní místo na palubì lodi mezi ostatními námoøníky.

Kdy Bonny øekla Readovi, e je ena, protoe ji pøitahuje, Read odhalil, e i ona je ena. Aby zmírnila árlivost svého milence Rackhama, kterı mìl podezøení na milostnı vztah mezi tìmi dvìma, øekla mu Bonny, e Read je ena. Spekulace o vztahu mezi Bonny a Readem vedly k obrázkùm zobrazujícím ty dva v boji spolu.

Obì pirátù, Dorothy Thomasová, zanechala popis Reada a Bonnyho: "Mìli na sobì pánská saka a dlouhé kalhoty a kapesníky uvázané kolem hlavy: a ... kadı z nich mìl v rukou maèetu a pistoli a proklínali a nadávali muùm, aby ji zavradili [Dorothy Thomas]." Thomas také zaznamenal, e vìdìla, e jsou to eny, "podle velikosti jejich prsou".

Zajetí a uvìznìní

Dne 22. øíjna 1720 bıvalı lupiè kapitán Jonathan Barnet pøekvapil Rackhamovu posádku, zatímco uspoøádali rumovou párty s další posádkou Anglièanù v Negril Point u západního pobøeí kolonie Jamajka. Údajnì poté, co salva vyøadila z provozu pirátské plavidlo, Rackhamova posádka a jejich "hosté" uprchli do nákladového prostoru a zùstaly pouze dvì eny a jedna další, aby bojovali s Barnetovou palubní skupinou (je také moné, e Rackham a jeho posádka byli pøíliš opilí bojovat). Oficiální pøepis soudního procesu øíká, e neexistovala ádná obrana, kromì vıstøelu z otoèné zbranì, ne Barnet vystøelil jako odpovìï. Poté záznam øíká, e se Rackham a jeho posádka vzdali a poádali o "ètvrtinu".

Rackham a jeho posádka byli zatèeni a postaveni pøed soud v dnešním španìlském mìstì na Jamajce, kde byli stejnì jako Read a Bonny odsouzeni k obìšení za pirátské èiny. eny však tvrdily, e byly "rychlé s dítìtem" (známé jako "prosba bøicha") a dostaly doèasné odklady popravy.

Read zemøela ve vìzení v dubnu 1721. Její pohøeb 28. dubna je v záznamech kostela sv. Kateøiny na Jamajce. Neexistuje ádnı záznam o pohøbu jejího dítìte, co naznaèuje, e mohla zemøít bìhem tìhotenství nebo moná nikdy nebyla tìhotná.
