Mary Read (falecida em abril de 1721), foi uma pirata inglesa. Ela e Anne Bonny estavam entre as poucas mulheres piratas durante a "Idade de Ouro da Pirataria".

Read nasceu provavelmente em Inglaterra. A História Geral diz que ela começou a vestir-se como um rapaz ainda jovem, primeiro por insistência da mãe para receber o dinheiro da herança e depois como adolescente para se juntar ao exército britânico. Casou-se então e após a morte do marido mudou-se para as Índias Ocidentais por volta de 1715.

Por volta de agosto de 1720, juntou-se à tripulação de Jack Rackham, vestindo-se de homem ao lado de Anne Bonny. O seu tempo como pirata durou pouco, pois ela, Bonny e Rackham foram presos em outubro de 1720. Rackham foi executado em novembro, mas Read e Bonny alegaram estar grávidas durante os julgamentos e receberam sentenças tardias. Read morreu enquanto estava preso em abril de 1721.

Vida pregressa

A mãe de Mary casou com um marinheiro, com quem teve um filho. O marido desapareceu então no mar. A sua mãe começou então a enviar apoio financeiro ao menino.

Em breve engravidou novamente de outro homem, escondendo a vergonhosa segunda gravidez. O seu filho morreu e ela deu à luz uma menina, Mary. Para esconder a vergonha, a sua mãe passou a jovem Mary como o seu primeiro e único filho, o rapaz, para continuar a receber apoio da avó do rapaz. A avó foi enganada e viveram com o dinheiro dela o maior tempo possível.

Aos 13 anos, vestido de rapaz, Read encontrou trabalho como lacaio e, mais tarde, emprego num navio. Mais tarde, ela juntou-se ao exército britânico e à tripulação de um navio de guerra britânico. Mais tarde, ela desistiu e mudou-se para a Flandres, onde carregou armas num regimento de infantaria como cadete e serviu bravamente, mas não pôde receber uma comissão porque a promoção naquela época era principalmente por compra. Maria mudou-se para um regimento de cavalos aliado às forças holandesas contra os franceses (isto poderia ter sido durante a Guerra dos Nove Anos ou durante a Guerra da Sucessão de Espanha). Read, disfarçada de homem, provou o seu valor na batalha, mas apaixonou-se por um soldado flamengo. Quando se casaram, ela usou a comissão militar e os presentes de irmãos de armas intrigados para adquirir uma estalagem chamada "De drie hoefijzers" ("As Três Ferraduras") perto do Castelo de Breda, na Holanda.

Após a morte prematura do marido, Read retomou o traje masculino e o serviço militar na Holanda. Com a paz, não havia espaço para progressos, pelo que ela desistiu e embarcou num navio com destino às Índias Ocidentais. O navio em que ela embarcou foi abordado por um navio pirata. Estar disfarçado de homem britânico ajudou-a, pois os tripulantes britânicos acolheram-na.

Tornar-se um pirata

O navio de Read foi tomado por piratas, aos quais ela se juntou voluntariamente. Ela aceitou o perdão do rei c. 1718-1719, foi então comissionado como corsário, mas juntou-se à tripulação no motim. Em 1720, juntou-se ao pirata John "Calico Jack" Rackham e à sua companheira, Anne Bonny, que acreditavam que ela era um homem. A 22 de agosto de 1720, os três roubaram uma chalupa armada chamada William do porto de Nassau. Os estudiosos não têm a certeza de como é que mulheres piratas como Read e Bonny escondiam o seu sexo num ambiente dominado por homens. Alguns estudiosos, no entanto, teorizaram que o uso de calças por mulheres piratas pode ter sido um método de esconder a sua identidade ou simplesmente uma roupa prática que solidificou o seu local de trabalho a bordo do navio entre os restantes marinheiros.

Quando Bonny disse a Read que era uma mulher porque se sentia atraída por ela, Read revelou que também era uma mulher. Para diminuir os ciúmes do seu amante, Rackham, que suspeitava de envolvimento romântico entre os dois, Bonny disse-lhe que Read era uma mulher. As especulações sobre a relação entre Bonny e Read levaram a imagens que retratam os dois juntos em batalha.

Uma vítima dos piratas, Dorothy Thomas, deixou uma descrição de Read e Bonny: Eles "usavam casacos de homem, calças compridas e lenços atados à cabeça: e... cada um deles tinha um machete e uma pistola nas mãos e amaldiçoaram e juraram que os homens a assassinariam [Dorothy Thomas]." Thomas registou ainda que ela sabia que eram mulheres, “pela grandeza dos seios”.

Captura e detenção

A 22 de outubro de 1720, o antigo corsário capitão Jonathan Barnet apanhou a tripulação de Rackham de surpresa, enquanto organizavam uma festa de rum com outra tripulação de ingleses em Negril Point, na costa oeste da Colónia da Jamaica. Supostamente, depois de uma saraivada de fogo ter desativado o navio pirata, a tripulação de Rackham e os seus "convidados" fugiram para o porão, deixando apenas as duas mulheres e uma outra a combater o grupo de embarque de Barnet (também é possível que Rackham e a sua tripulação estivessem demasiado bêbados para combater). A transcrição oficial do julgamento diz que não houve nenhuma defesa montada para além de uma arma giratória a ser disparada antes de Barnet disparar em resposta. Depois disso, o registo diz que Rackham e a sua tripulação se renderam, solicitando “quartel”.

Rackham e a sua tripulação foram presos e levados a julgamento no que é hoje Spanish Town, na Jamaica, onde foram condenados à forca por atos de pirataria, assim como Read e Bonny. No entanto, as mulheres alegaram que ambas foram "rápidas com a gravidez" (conhecido como "implorar pela barriga") e receberam uma suspensão temporária da execução.

Read morreu enquanto estava na prisão em abril de 1721. O seu enterro a 28 de abril está nos registos da igreja de Santa Catarina, na Jamaica. Não há registo do enterro do seu bebé, sugerindo que possa ter morrido durante a gravidez ou talvez nunca tenha estado grávida.
