메리 리드(1721년 4월 사망)는 영국의 해적이었습니다. 그녀와 앤 보니는 "해적의 황금기"에 몇 안 되는 여성 해적이었습니다.

리드는 영국에서 태어났을 가능성이 큽니다. 일반 역사에 따르면 그녀는 어린 나이에 소년복을 시작했는데, 처음에는 어머니의 권유로 상속 재산을 받기 위해, 그다음에는 영국군에 입대하기 위해 10대 때였습니다. 그런 다음 그녀는 결혼했고 남편이 죽자 1715년경 서인도 제도로 이사했습니다.

1720년 8월경 그녀는 잭 래컴의 선원단에 합류하여 앤 보니와 함께 남자로 변장했습니다. 그녀의 해적으로서 보낸 시간은 짧았고, 그녀와 보니, 래컴은 1720년 10월에 체포되었습니다. 래컴은 11월에 처형되었지만, 리드와 보니는 재판 중에 임신했다고 주장했고 지연된 형을 선고받았습니다. 리드는 1721년 4월에 수감 중에 사망했습니다.

초창기 생애

메리의 어머니는 선원과 결혼하여 아들을 두었습니다. 남편은 바다에서 사라졌습니다. 그러자 그의 어머니는 그 소년을 위해 재정적 지원을 보내기 시작했습니다.

그녀는 곧 다른 남자에게서 다시 임신하여 부끄러운 두 번째 임신을 숨겼습니다. 그녀의 아들이 죽고 나서 그녀는 메리라는 여자아이를 낳았습니다. 부끄러움을 숨기기 위해 그녀의 어머니는 어린 메리를 첫 번째이자 유일한 아이인 소년으로 속여 소년의 할머니로부터 계속 지원을 받았습니다. 할머니는 속았고 그들은 가능한 한 오랫동안 그녀의 돈으로 살았습니다.

13세에 소년으로 분장한 리드는 하인으로 일자리를 찾았고, 그다음에는 배에서 일했습니다. 그녀는 나중에 영국군에 입대하여 영국 군함의 승무원이 되었습니다. 그녀는 나중에 이를 그만두고 플랑드르로 이사하여 생도로서 보병 연대에서 무기를 들고 용감하게 복무했지만 당시 승진은 대부분 매수에 의한 것이었기 때문에 위임을 받을 수 없었습니다. 메리는 프랑스에 대항하여 네덜란드군과 동맹을 맺은 기병 연대로 옮겼습니다(이것은 9년 전쟁 중이거나 스페인 왕위 계승 전쟁 중일 수 있습니다). 남자로 변장한 Read는 전투에서 자신을 증명했지만 플랑드르 군인과 사랑에 빠졌습니다. 결혼했을 때, 그녀는 군사 위임장과 호기심 많은 전우들로부터 받은 선물을 사용하여 네덜란드 브레다 성 근처에 "De drie hoefijzers"("세 개의 말발굽")라는 여관을 인수했습니다.

남편이 일찍 죽자 Read는 네덜란드에서 남성 복장과 군 복무를 재개했습니다. 평화가 찾아오자 승진의 여지가 없었기 때문에 그녀는 그만두고 서인도 제도로 가는 배에 탔습니다. 그녀가 탄 배는 우연히 해적선이 탔습니다. 영국 남자로 변장한 것이 도움이 되었고, 영국 선원들이 그녀를 받아들였습니다.

해적이 되다

Read의 배는 해적들에게 납치되었고, 그녀는 기꺼이 해적들과 합류했습니다. 그녀는 1718-1719년경에 국왕의 사면을 받아들인 후 사략선 선원으로 임명되었지만 반란을 일으켜 선원단에 합류했습니다. 1720년에 그녀는 해적 John "Calico Jack" Rackham과 그의 동료 Anne Bonny와 합류했는데, 둘 다 그녀를 남자라고 믿었습니다. 1720년 8월 22일, 세 사람은 나소의 항구에서 William이라는 무장 슬루프를 훔쳤습니다. 학자들은 Read와 Bonny와 같은 여성 해적들이 남성이 지배하는 환경에서 어떻게 자신의 성별을 숨겼는지 확신하지 못합니다. 그러나 일부 학자들은 여성 해적들이 바지를 입는 것은 자신의 정체성을 숨기는 방법이거나 다른 선원들 사이에서 배 위에서 일하는 자리를 굳건히 하는 실용적인 옷차림일 수 있다고 이론화했습니다.

Bonny가 Read에게 자신이 여성인 이유는 그녀에게 끌렸기 때문이라고 말했을 때, Read는 그녀도 여성이라고 밝혔습니다. 연인인 래컴이 두 사람 사이에 낭만적인 관계가 있다고 의심하자 보니는 리드가 여자라고 그에게 말했습니다. 보니와 리드의 관계에 대한 추측으로 인해 두 사람이 함께 전투를 벌이는 모습이 담긴 사진이 나왔습니다.

해적의 희생자인 도로시 토마스는 리드와 보니에 대한 설명을 남겼습니다. 그들은 "남자용 재킷과 긴 바지를 입고, 머리에 손수건을 두르고 있었습니다. 그리고... 각자 손에 마체테와 권총을 들고 있었고, 남자들에게 저주를 퍼부으며 그녀[도로시 토마스]를 죽이라고 맹세했습니다." 토마스는 또한 그들이 "가슴이 크기 때문에" 여자라는 것을 알았다고 기록했습니다.

체포와 투옥

1720년 10월 22일, 전 사략선 선장 조나단 바넷은 래컴의 선원들을 깜짝 놀라게 했고, 그들은 자메이카 식민지 서쪽 해안의 네그릴 포인트에서 다른 영국인 선원들과 럼 파티를 열었습니다. 주장에 따르면, 일제 사격으로 해적선이 무력화된 후, Rackham의 선원들과 그들의 "손님"들은 선창으로 도망쳤고, 두 명의 여성과 한 명만이 Barnet의 탑승 파티와 싸우게 되었다고 합니다(Rackham과 그의 선원들이 너무 취해서 싸울 수 없었을 가능성도 있습니다). 공식 재판 기록에 따르면 Barnet이 대응 사격하기 전에 회전식 총을 쏘았을 뿐 방어 수단은 없었다고 합니다. 그 후 기록에 따르면 Rackham과 그의 선원들은 항복하여 "사형"을 요청했다고 합니다.

Rackham과 그의 선원들은 체포되어 현재 자메이카의 Spanish Town에서 재판을 받았고, Read와 Bonny와 마찬가지로 해적 행위로 교수형을 선고받았습니다. 그러나 이 여성들은 둘 다 "아이를 빨리 가졌다"(소위 "배를 호소하다")고 주장했고, 사형 집행이 일시적으로 유예되었습니다.

Read는 1721년 4월 감옥에 있는 동안 사망했습니다. 그녀의 매장은 4월 28일로 자메이카의 St. Catherine's 교회 기록에 나와 있습니다. 그녀가 아이를 매장했다는 기록이 없는데, 이는 그녀가 임신 중에 사망했거나, 혹은 아예 임신한 적이 없었을 가능성을 시사합니다.
