メアリー・リード（1721年4月死去）はイギリスの海賊だった。彼女とアン・ボニーは「海賊の黄金時代」の数少ない女性海賊の1人だった。

リードはおそらくイギリスで生まれた。一般史によると、彼女は幼い頃から男装を始めた。最初は母親の勧めで相続金を受け取るため、その後10代の頃にはイギリス軍に入隊するためだった。その後結婚し、夫の死後1715年頃に西インド諸島に移住した。

1720年8月頃、彼女はジャック・ラックハムの乗組員に加わり、アン・ボニーとともに男装した。彼女の海賊としての時間は長くは続かず、彼女、ボニー、ラックハムは1720年10月に逮捕された。ラックハムは11月に処刑されたが、リードとボニーは裁判中に妊娠していると主張し、判決を延期された。リードは1721年4月に投獄中に死亡した。

幼少期

メアリーの母親は船員と結婚し、息子をもうけた。夫はその後海上で行方不明になった。その後、夫の母親は息子のためにメアリーに経済的援助を送り始めた。

メアリーはすぐに別の男性との間に再び妊娠したが、この恥ずべき2度目の妊娠を隠していた。息子は亡くなり、メアリーは女の子を出産した。恥を隠すため、母親は幼いメアリーを自分の最初の唯一の子供である男の子だと偽り、男の子の祖母から援助を受け続けた。祖母は騙され、2人は彼女のお金で可能な限り暮らした。

13歳のとき、男の子の服を着たリードは歩兵として働き、その後船で働いた。後にイギリス軍に入隊し、イギリス軍艦の乗組員となった。後にこれを辞め、フランドルに移り、そこで歩兵連隊の士官候補生として武器を携えて勇敢に働いたが、当時は昇進がほとんど金銭によるものだったため、任命を受けることはできなかった。メアリーは、オランダ軍と同盟を組んでフランス軍と戦う騎兵連隊に配属されました (これは、9年戦争中かスペイン継承戦争中だった可能性があります)。リードは男装して戦いで実力を発揮しましたが、フランドルの兵士と恋に落ちました。結婚すると、彼女は軍の任務と、興味をそそられた戦友からの贈り物を利用して、オランダのブレダ城の近くに「De drie hoefijzers」(「3つの蹄鉄」) という宿屋を手に入れました。

夫が早くに亡くなった後、リードはオランダで男装して兵役を再開しました。平和が訪れたため昇進の余地はなく、彼女は辞職して西インド諸島行きの船に乗り込みました。彼女が乗った船には、たまたま海賊船が乗り込んでいました。イギリス人男性に変装していたことが役に立ち、イギリス人の乗組員が彼女を受け入れてくれました。

海賊になる

リードの船は海賊に奪われ、彼女は進んで海賊に加わった。彼女は1718年から1719年頃に国王の恩赦を受け入れ、その後私掠船の任務に就いたが、反乱を起こして乗組員に加わった。1720年に彼女は海賊ジョン「キャリコ ジャック」ラッカムとその仲間のアン ボニーに加わったが、二人とも彼女を男性だと思っていた。1720年8月22日、3人はナッソーの港からウィリアムという名の武装スループ船を盗んだ。学者たちは、リードやボニーのような女性海賊が男性優位の環境でどのように性別を隠していたのかはよくわかっていない。しかし、一部の学者は、女性海賊がズボンを履いていたのは、身元を隠すためか、船上で他の船員たちと仕事の場を固めるための実用的な衣服だったのではないかと推測している。

ボニーがリードに、自分が女性であることは自分に惹かれているからだと言ったとき、リードも自分は女性であることを明かした。2人の恋愛関係を疑っていた恋人のラカムの嫉妬を和らげるために、ボニーはリードが女性であることを告げた。ボニーとリードの関係についての憶測は、2人が一緒に戦っている様子を描いた絵につながった。

海賊の犠牲者ドロシー・トーマスは、リードとボニーについて次のように描写している。「彼らは男性用のジャケットを着て、長ズボンをはき、頭にハンカチを巻いていた。そして...それぞれが手にマチェーテとピストルを持ち、男たちに彼女[ドロシー・トーマス]を殺すようにと罵り、誓っていた。」トーマスはまた、彼女が「彼らの胸の大きさから」彼らが女性だと知っていたと記録している。

捕獲と投獄

1720 年 10 月 22 日、元私掠船長のジョナサン・バーネットは、ジャマイカ植民地の西海岸沖のネグリル ポイントで、別のイギリス人船員とラム酒パーティーを催していたラックハムの船員を不意打ちしました。伝えられるところによると、一斉射撃で海賊船が機能停止した後、ラックハムの船員と「客」は船倉に逃げ込み、バーネットの乗船隊と戦ったのは 2 人の女性ともう 1 人だけになりました (ラックハムと船員は酔っていて戦えなかった可能性もあります)。公式の裁判記録によると、バーネットが応戦する前に旋回銃が発砲された以外は、防御は行われませんでした。その後、記録によると、ラックハムと船員は降伏し、「救出」を要求しました。

ラックハムと船員は逮捕され、現在のジャマイカのスパニッシュ タウンで裁判にかけられ、リードとボニーと同様に海賊行為で絞首刑を宣告されました。しかし、女性たちは二人とも「妊娠が早かった」（「腹を訴える」として知られている）と主張し、一時的に処刑を延期された。

リードは1721年4月に獄中で死亡した。4月28日の彼女の埋葬はジャマイカのセント・キャサリン教会の記録に残っている。彼女の赤ん坊の埋葬の記録はなく、彼女は妊娠中に死亡したか、あるいは妊娠していなかった可能性がある。
