Mary Read (died April 1721), was an English pirate. She and Anne Bonny were among the few female pirates during the "Golden Age of Piracy".

Read was likely born in England. General History says she began dressing as a boy at a young age, at first at her mother's urging in order to receive inheritance money and then as a teenager in order to join the British military. She then married and upon her husband's death moved to the West Indies around 1715.

Around August 1720, she joined Jack Rackham's crew, dressing as a man alongside Anne Bonny. Her time as a pirate was short lived, as she, Bonny, and Rackham were arrested in October 1720. Rackham was executed in November, but Read and Bonny both claimed to be pregnant during their trials and received delayed sentences. Read died while imprisoned in April 1721.

Early life

Mary's mother had married a sailor, with whom she had a son. The husband then disappeared at sea. His mother then began to send her financial support for the boy.

She soon became pregnant again by another man, hiding the shameful second pregnancy. Her son died, then she gave birth to a girl, Mary. To hide the shame, her mother passed young Mary off as her first and only child, the boy, to continue receiving support from the boy's grandmother. The grandmother was fooled, and they lived on her money as long as possible.

At age 13, dressed as a boy, Read found work as a foot-boy, and, then, employment on a ship. She later joined the British military, and the crew of a British man-of-war. She later quit this and moved into Flanders where she carried arms in a regiment of foot as a cadet and served bravely but could not receive a commission because promotion in those days was mostly by purchase. Mary moved on to a regiment of horse which was allied with Dutch forces against the French (this could have been during the Nine Years War or during the War of the Spanish Succession). Read, in male disguise, proved herself through battle, but fell in love with a Flemish soldier. When they married, she used their military commission and gifts from intrigued brethren in arms to acquire an inn named "De drie hoefijzers" ("The Three Horseshoes") near Breda Castle in the Netherlands.

Upon her husband's early death, Read resumed male dress and military service in the Netherlands. With peace, there was no room for advancement, so she quit and boarded a ship bound for the West Indies. The ship that she boarded happened to be boarded by a pirate ship. Being disguised as a British male helped her, as the British crew members took her in. 

Becoming a pirate

Read's ship was taken by pirates, whom she willingly joined. She accepted the King's pardon c. 1718-1719, then took a commission to privateer, but joined the crew in mutiny. In 1720 she joined pirate John "Calico Jack" Rackham and his companion, Anne Bonny, who both believed her to be a man. On 22 August 1720, the three stole an armed sloop named William from port in Nassau. Scholars are uncertain how female pirates like Read and Bonny concealed their sex in a male-dominated environment. Some scholars, however, have theorized that the wearing of breeches by female pirates may have been either a method of hiding their identity or simply as practical clothing that solidified their working place on board the ship among the other seamen.

When Bonny told Read that she was a woman because she was attracted to her, Read revealed that she too was a woman. To abate the jealousy of her lover, Rackham, who suspected romantic involvement between the two, Bonny told him that Read was a woman. Speculation over the relationship between Bonny and Read led to images depicting the two in battle together.

A victim of the pirates, Dorothy Thomas, left a description of Read and Bonny: They "wore men's jackets, and long trousers, and handkerchiefs tied about their heads: and ... each of them had a machete and pistol in their hands and they cursed and swore at the men to murder her [Dorothy Thomas]." Thomas also recorded that she knew that they were women, "from the largeness of their breasts."

Capture and imprisonment

On 22 October 1720, former privateer Captain Jonathan Barnet took Rackham's crew by surprise, while they hosted a rum party with another crew of Englishmen at Negril Point off the west coast of the Colony of Jamaica. Allegedly, after a volley of fire disabled the pirate vessel, Rackham's crew and their "guests" fled to the hold, leaving only the two women and one other to fight Barnet's boarding party (it is also possible that Rackham and his crew were too drunk to fight). The official trial transcript says there was no defense mounted aside from a swivel gun being fired before Barnet fired in response. After that the record says that Rackham and his crew surrendered, requesting "quarter".

Rackham and his crew were arrested and brought to trial in what is now Spanish Town, Jamaica, where they were sentenced to hang for acts of piracy, as were Read and Bonny. However, the women claimed they were both "quick with child" (known as "pleading the belly"), and received temporary stays of execution.

Read died while in prison in April 1721. Her burial 28 of April is in the records of St. Catherine's church in Jamaica. There is no record of the burial of her baby, suggesting that she may have died while pregnant, or perhaps never had been pregnant.

