וַׁך ׁךֿ (ÊטבךÊ בך ֳָׁךה 1721)¬ דַזÊ גׁױַזֹ ֵזּהךׂךֹ. דַזÊ חך טֲזַ ָטזך וז ָךז ַהגהֶַה וז ַהגַׁױזֹ ַהֵזַֻ ־הַה "ַהÙױׁ ַה׀חָך ההגׁױזֹ".

וז ַהוּֽׁ ֳז ׁךֿ טהֿÊ בך ֵזּהÊַׁ. ךגטה ַהÊַׁך־ ַהÙַו ֳזחַ ֳָֿÊ בך ַׁÊֱַֿ והַָ׃ ַהױָך בך ׃ז וָדֹׁ¬ בך ַהַָֿךֹ ָזֱַכ Ùהי ֵהַֽֽ טַהֿÊחַ וז ֳּה ַהֽױטה Ùהי ֳוטַה ַהוךַֻׁ ֻו בך ׃ז ַהוַׁחגֹ וז ֳּה ַהַזײוַו ֵהי ַהּךװ ַהָׁך׳ַזך. ֻו ÊׂטּÊ טָÙֿ טבַֹ ׂטּחַ ַזÊגהÊ ֵהי ּׁׂ ַהחזֿ ַהÚָׁךֹ ֽטַהך Ùַו 1715.

ֽטַהך ֳÚ׃׳׃ 1720¬ ַזײוÊ ֵהי ׳ַגו ַּד ַׁדחַו¬ טַׁÊֿÊ והַָ׃ ַהַּׁה ֵהי ַּזָ ֲז ָטזך. הו Êֿו בÊֹׁ Ùוהחַ דגׁױַזֹ ׳טךהַכ¬ ֽךֻ Êו ַהגָײ Ùהךחַ טָטזך טַׁדחַו בך ֳדÊטָׁ 1720. Êו ֵÙַֿו ַׁדחַו בך זטבוָׁ¬ הדז ׁךֿ טָטזך ַֿÙÊַ ֳזחוַ דַזÊַ ַֽוהַכ ֳֻזֱַ וַֽדוÊחוַ טֽןדנו Ùהךחוַ ַָה׃ּז ַהוִּה. ÊטבךÊ ׁךֿ טחך ו׃ּטזֹ בך ֳָׁךה 1721.

ַהֽךַֹ ַהוָדֹׁ

ÊׂטּÊ טַהֹֿ וַׁך וז ַָֽׁ¬ טֳזָּÊ וזח ַָזכַ. ֻו ַ־Êבי ַהׂטּ בך ַהָֽׁ. ֻו ֳָֿÊ טַהֿÊח בך ֵׁ׃ַה ֿÙו וַהך ההױָך.

׃ׁÙַז וַ ֽוהÊ וֹׁ ֳ־ׁי וז ּׁה ֲ־ׁ¬ טֳ־בÊ ַהֽוה ַהַֻזך ַהו־ׂך. Êטבך ַָזחַ¬ ֻו ֳזָּÊ בÊַֹ¬ וַׁך. טהֵ־בֱַ ַהÙַׁ¬ גֿוÊ טַהֿÊחַ וַׁך ַהױÚךֹׁ Ùהי ֳזחַ ׳בהחַ ַהֳטה טַהטֽךֿ¬ ַהױָך¬ הוטַױהֹ Êהגך ַהֿÙו וז ֹּֿ ַהױָך. ־ןֿÙÊ ַהֹּֿ¬ טÙַװטַ Ùהי ֳוטַהחַ הֳ׳טה בÊֹׁ וודזֹ.

בך ׃ז ַהַֻהֹֻ Ùװֹׁ¬ דַזÊ ÊׁÊֿך ׂך ַהױָך¬ טטּֿÊ ׁךֿ Ùוהַכ דױָך¬ ֻו ט״ךבֹ Ùהי וÊז ׃בךזֹ. ַזײוÊ הַֽגכַ ֵהי ַהּךװ ַהָׁך׳ַזך¬ ט׳ַגו ׃בךזֹ ָֽׁךֹ ָׁך׳ַזךֹ. ÊׁדÊ ח׀ַ הַֽגכַ טַזÊגהÊ ֵהי בהַזֿׁׂ ֽךֻ ֽוהÊ ַה׃הַֽ בך בטּ וװַֹ ד׳ַהָֹ ט־ֿוÊ ָװַּÙֹ הדזחַ הו Ê׃Ê׳Ù ַהֽױטה Ùהי Ùוטהֹ הֳז ַהÊׁגךֹ בך Êהד ַהֳךַו דַזÊ בך ַהÚַהָ Ùז ׳ׁךג ַהװֱַׁ. ַזÊגהÊ וַׁך ֵהי בטּ וז ַה־ךטה דַז וÊַֽהבכַ וÙ ַהגטַÊ ַהחטהזֿךֹ ײֿ ַהבׁז׃ךךז (ָׁוַ דַז ׀הד ֳֻזֱַ ָֽׁ ַה׃זטַÊ ַהÊ׃Ù ֳט ֳֻזֱַ ָֽׁ ַה־הַבֹ ַהֵ׃ַָזךֹ). ֳָֻÊÊ ׁךֿ זב׃חַ בך ַהוÙׁדֹ טחך וÊזדֹׁ בך ׂך ּׁה¬ הדזחַ טגÙÊ בך ָֽ ּזֿך בהוזדך. טÙזֿוַ Êׂטַּ¬ ַ׃Ê־ֿוÊ ÙוטהÊחוַ ַהÙ׃דׁךֹ טחַֿךַ וז ֵ־טַזחַ ַהוÊֽו׃ךז בך ַה׃הַֽ הװֱַׁ זׂה ךןֿÙי "De drie hoefijzers" ("ַה־ךטה ַהֻהַֹֻ") ַָהגָׁ וז גהÙֹ ָׁךַֿ בך חטהזַֿ.

ָÙֿ טבַֹ ׂטּחַ ַהוָדֹׁ¬ ַ׃ÊֳזבÊ ׁךֿ ַׁÊֱַֿ ַהׂך ַהַּׁהך טַה־ֿוֹ ַהÙ׃דׁךֹ בך חטהזַֿ. טוÙ ַה׃הַו¬ הו ךדז חזַד וַּה ההÊגֿו¬ ה׀הד ַ׃ÊגַהÊ טַ׃ÊגהÊ ׃בךזֹ וÊּחֹ ֵהי ּׁׂ ַהחזֿ ַהÚָׁךֹ. דַזÊ ַה׃בךזֹ ַהÊך ַ׃ÊגהÊחַ ׃בךזֹ גַׁױזֹ. ׃ַÙֿחַ Êזדׁחַ בך ׂך ּׁה ָׁך׳ַזך¬ ֽךֻ ַ׃Êגָהחַ ֳבַֿׁ ַה׳ַגו ַהָׁך׳ַזךטז.

ַהÊֽטה ֵהי גׁױַזֹ

ַ׃Êטהי ַהגַׁױזֹ Ùהי ׃בךזֹ ׁךֿ¬ טַזײוÊ ֵהךחו ׳טַÙךֹ. גָהÊ ַהÙבט ַהוהדך ֽטַהך Ùַו 1718-1719¬ ֻו ֽױהÊ Ùהי וחוֹ גׁױזֹ¬ הדזחַ ַזײוÊ ֵהי ַה׳ַגו בך ַהÊוֿׁ. בך Ùַו 1720 ַזײוÊ ֵהי ַהגׁױַז ּטז "דַהךדט ַּד" ַׁדחַו טׁבךגÊח ֲז ָטזך¬ טדהַחוַ ַÙÊגֿ ֳזחַ ּׁה. בך 22 ֳÚ׃׳׃ 1720¬ ׃ׁג ַהֻהַֹֻ וׁדָכַ װַׁÙךכַ ו׃הֽכַ ךןֿÙי טךהךַו וז וךזֱַ בך זַ׃ט. ַהÙהוֱַ Úךׁ וÊֳדֿךז וז דךבךֹ ֵ־בֱַ ַהגַׁױזֹ ַהֵזַֻ וֻה ׁךֿ טָטזך ּז׃חו בך ָךֶֹ ךחךוז Ùהךחַ ַה׀דטׁ. טוÙ ׀הד¬ ַבÊׁײ ָÙײ ַהÙהוֱַ ֳז ַׁÊֱַֿ ַהגַׁױזֹ ַהֵזַֻ ההָז׳הטזַÊ ָׁוַ דַז ֵוַ ׳ׁךגֹ הֵ־בֱַ חטךÊחו ֳט ָָ׃ַ׳ֹ דוהַָ׃ Ùוהךֹ ÙׂׂÊ ודַז Ùוהחו Ùהי וÊז ַה׃בךזֹ ָךז ַהַָֹֽׁ ַהֲ־ׁךז.

Ùזֿוַ ֳ־ָׁÊ ָטזך ׁךֿ ֳזחַ ַוֳֹׁ הֳזחַ ַזּ׀ָÊ ֵהךחַ¬ דװבÊ ׁךֿ ֳזחַ ֳךײכַ ַוֳֹׁ. טהÊחֶֹֿ Úךֹׁ Ùװךגחַ ַׁדחַו¬ ַה׀ך װד בך טּטֿ Ùהַגֹ ׁטוַז׃ךֹ ָךזחוַ¬ ֳ־ָׁÊח ָטזך ֳז ׁךֿ דַזÊ ַוֳֹׁ. טֳֿי ַהÊדחז ֽטה ַהÙהַגֹ ָךז ָטזך טׁךֿ ֵהי ״חטׁ ױטׁ Êױטׁ ַהַֻזךז בך וÙׁדֹ וÙכַ.

ÊׁדÊ ײֽךֹ ַהגַׁױזֹ¬ ֿטׁטֻך Êטוַ׃¬ טױבכַ הׁךֿ טָטזך: "דַזַ ךׁÊֿךַז ׃ÊַׁÊ ַּׁהךֹ ט׃ַׁטךה ׳טךהֹ טוזַֿךה וָׁט׳ֹ ֽטה ִׁט׃חוַ: ט... דַז דה וזחוַ ךֽוה ׃דךזכַ טו׃ֿ׃כַ בך ךֿךח טדַזַ ךװÊוַז ַהַּׁה טךג׃וַז Ùהךחו ָגÊהחַ [ֿטׁטֻך Êטוַ׃]". דוַ ׃ּהÊ Êטוַ׃ ֳזחַ דַזÊ ÊÙהו ֳזחו ז׃ֱַ¬ "וז ײ־ַוֹ ױֿטׁחו".

ַהֳ׃ׁ טַה׃ּז

בך 22 ֳדÊטָׁ 1720¬ בֳַּ ַהגָ׳ַז ַה׃ַָג ּטזַַֻז ַָׁזךÊ ׳ַגו ַׁדחַו¬ ָךזוַ ַ׃Êײַבטַ ֽבהֹ ׁטו וÙ ׳ַגו ֲ־ׁ וז ַהֵזּהךׂ בך זךÚׁךה ָטךזÊ גַָהֹ ַה׃ַֽה ַהÚָׁך הו׃ÊÙוֹׁ ַּוַךדַ. ךןׂÙו ֳזח ָÙֿ ֳז Ù׳הÊ טַָה וז ַהזךַׁז ׃בךזֹ ַהגַׁױזֹ¬ בׁ ׳ַגו ַׁדחַו ט"ײךטבחו" ֵהי Ùזָׁ ַה׃בךזֹ¬ טהו ךÊָג ׃טי ַהוֳׁÊךז טַוֳֹׁ ֳ־ׁי הוַָֹֽׁ וּוטÙֹ ַהױÙטֿ ֵהי ַה׃בךזֹ ַהÊך ךגטֿחַ ַָׁזÊ (טוז ַהוֽÊוה ֳךײכַ ֳז ַׁדחַו ט׳ַגוח דַזטַ בך ַֽהֹ ׃ןדׁ װֿךֹֿ ָֽךֻ הו ךÊודזטַ וז ַהגÊַה). Êגטה וַֽײׁ ַהוַֽדוֹ ַהׁ׃וךֹ ֳזח הו ךדז חזַד ֿבַÙ ַָ׃Êֻזֱַ ֵ׳הַג ַהזַׁ וז ו׃ֿ׃ ֿטַׁ גָה ֳז ך׳הג ַָׁזÊ ַהזַׁ ֿׁכַ Ùהי ׀הד. ָÙֿ ׀הד¬ Êגטה ַה׃ּהַÊ ֳז ַׁדחַו ט׳ַגוח ַ׃Ê׃הוטַ¬ ט׳הָטַ "ַהֽׁוֹ".

Êו ַהגָײ Ùהי ַׁדחַו ט׳ַגוח טÊגֿךוחו ההוַֽדוֹ בך וַ ךןÙׁב ַהֲז ַָ׃ו ׃ַָזךװ Êַטז¬ ַּוַךדַ¬ ֽךֻ ֽןדו Ùהךחו ַָהֵÙַֿו װזגכַ ָÊחוֹ ַׁÊדַָ ֳÙוַה גׁױזֹ¬ טד׀הד ׁךֿ טָטזך. טוÙ ׀הד¬ ַֿÙÊ ַהוֳׁÊַז ֳזחוַ דַזÊַ "׃ׁךÙÊך ַהֽוה" (ַהוÙׁטבֹ ַָ׃ו "ַהÊט׃ה ַָהָ׳ז")¬ טֽױהÊַ Ùהי ÊֳּךהַÊ וִגÊֹ ההֵÙַֿו.

ÊטבךÊ ׁךֿ ֳֻזֱַ טּטֿחַ בך ַה׃ּז בך ֳָׁךה 1721. ֿבזÊ בך 28 ֳָׁךה בך ׃ּהַÊ דזך׃ֹ ַהגֿך׃ֹ דַÊׁךז בך ַּוַךדַ. הַ ךטּֿ ׃ּה הֿבז ׳בהחַ¬ ווַ ךװךׁ ֵהי ֳזחַ ָׁוַ וַÊÊ ֳֻזֱַ ַהֽוה¬ ֳט ָׁוַ הו Êדז ַֽוהַכ ֳָֿכַ.
