Mary Read (ö. Nisan 1721), Ýngiliz bir korsandý. O ve Anne Bonny "Korsanlýðýn Altýn Çaðý" sýrasýnda az sayýdaki kadýn korsan arasýndaydý.

Read muhtemelen Ýngiltere'de doðmuþtur. Genel tarihe göre küçük yaþta, önce annesinin ýsrarýyla mirastan para alabilmek için, daha sonra da ergenlik çaðýnda Ýngiliz ordusuna katýlabilmek için erkek gibi giyinmeye baþlamýþtýr. Daha sonra evlendi ve kocasýnýn ölümü üzerine 1715 civarýnda Batý Hint Adalarý'na taþýndý.

Aðustos 1720 civarýnda, Anne Bonny'nin yanýnda erkek kýlýðýna girerek Jack Rackham'ýn mürettebatýna katýldý. Bir korsan olarak geçirdiði zaman kýsa sürdü, çünkü o, Bonny ve Rackham Ekim 1720'de tutuklandý. Rackham Kasým ayýnda idam edildi, ancak Read ve Bonny duruþmalarý sýrasýnda hamile olduklarýný iddia ettiler ve ertelenmiþ cezalar aldýlar. Read Nisan 1721'de hapisteyken öldü.

Erken dönem yaþamý

Mary'nin annesi bir denizciyle evlenmiþ ve ondan bir oðlu olmuþtu. Kocasý daha sonra denizde kayboldu. Annesi daha sonra çocuk için ona maddi destek göndermeye baþladý.

Kýsa süre sonra baþka bir adamdan tekrar hamile kaldý ve utanç verici ikinci hamileliðini gizledi. Oðlu öldü, sonra da Meryem adýnda bir kýz çocuðu doðurdu. Annesi utancýný gizlemek için küçük Meryem'i ilk ve tek çocuðu olan oðlanýn yerine koyarak oðlanýn büyükannesinden destek almaya devam etti. Büyükanne kandýrýldý ve mümkün olduðunca uzun süre onun parasýyla yaþadýlar.

Read 13 yaþýndayken erkek çocuðu gibi giyinerek önce ayakçý olarak, ardýndan da bir gemide iþ buldu. Daha sonra Ýngiliz ordusuna ve bir Ýngiliz savaþ gemisinin mürettebatýna katýldý. Daha sonra bunu býrakarak Flandre'a taþýndý ve burada bir piyade alayýnda öðrenci olarak silah taþýdý ve cesurca hizmet etti ancak o günlerde terfi çoðunlukla satýn alma yoluyla olduðu için bir komisyon alamadý. Mary, Fransýzlara karþý Hollanda kuvvetleriyle müttefik olan bir atlý alayýna geçti (bu Dokuz Yýl Savaþý ya da Ýspanya Veraset Savaþý sýrasýnda olabilir). Read, erkek kýlýðýna girerek savaþta kendini kanýtladý ama Flaman bir askere aþýk oldu. Evlendiklerinde, askeri görevlerini ve entrikacý silah arkadaþlarýnýn hediyelerini kullanarak Hollanda'daki Breda Kalesi yakýnlarýnda "De drie hoefijzers" ("Üç Nal") adýnda bir han satýn aldý.

Kocasýnýn erken ölümü üzerine Read, Hollanda'da erkek kýyafetine ve askerlik hizmetine devam etti. Barýþla birlikte ilerleme imkâný kalmadýðý için istifa etti ve Batý Hint Adalarý'na giden bir gemiye bindi. Bindiði gemi bir korsan gemisi tarafýndan ele geçirildi. Ýngiliz bir erkek kýlýðýna girmesi ona yardýmcý oldu, çünkü Ýngiliz mürettebat üyeleri onu aralarýna aldý.

Korsan olmak

Read'in gemisi, kendi isteðiyle katýldýðý korsanlar tarafýndan ele geçirildi. 1718-1719 yýllarý arasýnda Kral'ýn affýný kabul etti, ardýndan özel bir korsan olarak görevlendirildi, ancak isyan eden mürettebata katýldý. 1720'de korsan John "Calico Jack" Rackham ve onun erkek olduðuna inanan arkadaþý Anne Bonny'ye katýldý. Üçü 22 Aðustos 1720'de Nassau limanýndan William adýnda silahlý bir yelkenli çaldý. Araþtýrmacýlar Read ve Bonny gibi kadýn korsanlarýn erkek egemen bir ortamda cinsiyetlerini nasýl gizlediklerinden emin deðiller. Ancak bazý akademisyenler, kadýn korsanlarýn pantolon giymesinin ya kimliklerini gizlemek için bir yöntem ya da gemide diðer denizciler arasýndaki çalýþma yerlerini saðlamlaþtýran pratik bir kýyafet olabileceði teorisini ortaya atmýþlardýr.

Bonny Read'e ondan etkilendiði için kadýn olduðunu söylediðinde, Read de kendisinin bir kadýn olduðunu açýklamýþtýr. Ýkili arasýnda romantik bir iliþki olduðundan þüphelenen sevgilisi Rackham'ýn kýskançlýðýný yatýþtýrmak için Bonny ona Read'in bir kadýn olduðunu söyledi. Bonny ve Read arasýndaki iliþki üzerine yapýlan spekülasyonlar, ikilinin birlikte savaþýrken resmedilmesine yol açtý.

Korsanlarýn kurbanlarýndan Dorothy Thomas, Read ve Bonny'yi þöyle tarif etmiþtir: "Erkek ceketleri ve uzun pantolonlar giyiyorlardý ve baþlarýna mendil baðlamýþlardý: ve ... her birinin elinde bir pala ve tabanca vardý ve onu [Dorothy Thomas'ý] öldürmeleri için adamlara küfredip sövüyorlardý." Thomas ayrýca onlarýn kadýn olduðunu "göðüslerinin büyüklüðünden" anladýðýný da kaydetmiþtir.

Yakalanma ve hapsedilme

22 Ekim 1720'de, eski korsan Kaptan Jonathan Barnet, Jamaika Kolonisi'nin batý kýyýsýndaki Negril Noktasý'nda baþka bir Ýngiliz mürettebatýyla birlikte rom partisi veren Rackham'ýn mürettebatýný gafil avladý. Ýddiaya göre, bir yaylým ateþi korsan gemisini etkisiz hale getirdikten sonra, Rackham'ýn mürettebatý ve "misafirleri" ambara kaçmýþ, Barnet'in gemiye çýkan ekibiyle savaþmak için sadece iki kadýn ve bir kiþi kalmýþtýr (Rackham ve mürettebatýnýn savaþamayacak kadar sarhoþ olmasý da mümkündür). Resmi duruþma tutanaðýna göre, Barnet'in karþýlýk olarak ateþ etmesinden önce bir döner tabancanýn ateþlenmesi dýþýnda herhangi bir savunma yapýlmamýþtýr. Bundan sonra kayýtlar Rackham ve ekibinin teslim olduðunu ve "çeyreklik" talep ettiðini söylüyor.

Rackham ve mürettebatý tutuklanarak bugün Jamaika'nýn Ýspanyol Kasabasý olan yerde mahkemeye çýkarýlmýþ ve Read ve Bonny gibi korsanlýk suçundan idama mahkûm edilmiþlerdir. Ancak kadýnlar her ikisinin de "çabuk çocuk sahibi olduklarýný" iddia ederek ("göbeðini kaþýmak" olarak bilinir) geçici olarak infazlarýnýn ertelenmesini saðladýlar.

Read Nisan 1721'de hapisteyken öldü. 28 Nisan'da gömüldüðü Jamaika'daki Aziz Catherine kilisesinin kayýtlarýnda yer almaktadýr. Bebeðinin gömüldüðüne dair bir kayýt yoktur, bu da hamileyken ölmüþ olabileceðini ya da belki de hiç hamile kalmadýðýný düþündürmektedir.
