Η Mary Read (πέθανε τον Απρίλιο του 1721), ήταν Αγγλίδα πειρατής. Αυτή και η Anne Bonny ήταν από τις λίγες γυναίκες πειρατές κατά τη διάρκεια της «Χρυσής Εποχής της Πειρατείας».

Ο Read γεννήθηκε πιθανότατα στην Αγγλία. Η General History λέει ότι άρχισε να ντύνεται αγόρι σε νεαρή ηλικία, στην αρχή μετά από παρότρυνση της μητέρας της για να λάβει χρήματα κληρονομιάς και στη συνέχεια ως έφηβη για να ενταχθεί στον βρετανικό στρατό. Στη συνέχεια παντρεύτηκε και μετά το θάνατο του συζύγου της μετακόμισε στις Δυτικές Ινδίες γύρω στο 1715.

Γύρω στον Αύγουστο του 1720, εντάχθηκε στο πλήρωμα του Jack Rackham, ντυμένος άντρας στο πλευρό της Anne Bonny. Ο χρόνος της ως πειρατής ήταν σύντομος, καθώς αυτή, η Bonny και ο Rackham συνελήφθησαν τον Οκτώβριο του 1720. Ο Rackham εκτελέστηκε τον Νοέμβριο, αλλά η Read και η Bonny ισχυρίστηκαν ότι ήταν έγκυες κατά τη διάρκεια των δοκιμών τους και έλαβαν καθυστερημένες ποινές. Ο Ρεντ πέθανε ενώ ήταν φυλακισμένος τον Απρίλιο του 1721.

Πρώιμη ζωή

Η μητέρα της Μαίρης είχε παντρευτεί έναν ναύτη, με τον οποίο είχε έναν γιο. Στη συνέχεια ο σύζυγος εξαφανίστηκε στη θάλασσα. Η μητέρα του άρχισε τότε να στέλνει την οικονομική της υποστήριξη για το αγόρι.

Σύντομα έμεινε ξανά έγκυος από άλλον άντρα, κρύβοντας την επαίσχυντη δεύτερη εγκυμοσύνη. Ο γιος της πέθανε, μετά γέννησε ένα κορίτσι, τη Μαίρη. Για να κρύψει τη ντροπή, η μητέρα της άφησε τη νεαρή Μαίρη ως πρώτο και μοναδικό της παιδί, το αγόρι, για να συνεχίσει να λαμβάνει υποστήριξη από τη γιαγιά του αγοριού. Η γιαγιά ξεγελάστηκε και ζούσαν με τα χρήματά της όσο περισσότερο γινόταν.

Σε ηλικία 13 ετών, ντυμένος σαν αγόρι, ο Read βρήκε δουλειά ως ποδαρικό και, στη συνέχεια, δουλειά σε ένα πλοίο. Αργότερα εντάχθηκε στον βρετανικό στρατό και στο πλήρωμα ενός Βρετανού άνδρα του πολέμου. Αργότερα το παράτησε και μετακόμισε στη Φλάνδρα, όπου κουβαλούσε όπλα σε ένα σύνταγμα πεζών ως δόκιμος και υπηρέτησε γενναία, αλλά δεν μπορούσε να λάβει προμήθεια επειδή η προαγωγή εκείνη την εποχή γινόταν κυρίως με αγορά. Η Μαίρη προχώρησε σε ένα σύνταγμα αλόγων που συμμάχησε με τις ολλανδικές δυνάμεις εναντίον των Γάλλων (αυτό θα μπορούσε να ήταν κατά τη διάρκεια του Εννεαετούς Πολέμου ή κατά τη διάρκεια του Πολέμου της Ισπανικής Διαδοχής). Η Read, με ανδρική μεταμφίεση, απέδειξε τον εαυτό της μέσα από τη μάχη, αλλά ερωτεύτηκε έναν Φλαμανδό στρατιώτη. Όταν παντρεύτηκαν, χρησιμοποίησε τη στρατιωτική τους προμήθεια και τα δώρα από τους περίεργους αδερφούς στα όπλα για να αποκτήσει ένα πανδοχείο με το όνομα «De drie hoefijzers» («Τα τρία πέταλα») κοντά στο Κάστρο Μπρέντα στην Ολλανδία.

Μετά τον πρόωρο θάνατο του συζύγου της, η Read συνέχισε το ανδρικό ντύσιμο και τη στρατιωτική θητεία στην Ολλανδία. Με την ησυχία της, δεν υπήρχε χώρος για πρόοδο, έτσι τα παράτησε και επιβιβάστηκε σε ένα πλοίο με προορισμό τις Δυτικές Ινδίες. Στο πλοίο που επιβιβάστηκε έτυχε να επιβιβαστεί από πειρατικό πλοίο. Η μεταμφιεσμένη σε Βρετανό τη βοήθησε, καθώς τα βρετανικά μέλη του πληρώματος την πήραν μέσα.

Να γίνει πειρατής

Το πλοίο της Read καταλήφθηκε από πειρατές, στους οποίους προσχώρησε πρόθυμα. Αποδέχτηκε τη χάρη του Βασιλιά γ. 1718-1719, στη συνέχεια πήρε μια προμήθεια σε ιδιώτη, αλλά εντάχθηκε στο πλήρωμα στην ανταρσία. Το 1720 ενώθηκε με τον πειρατή John "Calico Jack" Rackham και τη σύντροφό του, Anne Bonny, που και οι δύο πίστευαν ότι ήταν άντρας. Στις 22 Αυγούστου 1720, οι τρεις τους έκλεψαν μια ένοπλη τσάντα με το όνομα William από το λιμάνι του Nassau. Οι μελετητές είναι αβέβαιοι πώς οι γυναίκες πειρατές όπως η Read και η Bonny έκρυβαν το φύλο τους σε ένα ανδροκρατούμενο περιβάλλον. Ορισμένοι μελετητές, ωστόσο, έχουν υποστηρίξει ότι η χρήση βράκας από γυναίκες πειρατές μπορεί να ήταν είτε μια μέθοδος απόκρυψης της ταυτότητάς τους είτε απλώς ως πρακτική ενδυμασία που εδραίωσε τη θέση εργασίας τους στο πλοίο μεταξύ των άλλων ναυτικών.

Όταν η Bonny είπε στη Read ότι ήταν γυναίκα επειδή την έλκυε, η Read αποκάλυψε ότι και αυτή ήταν γυναίκα. Για να μειώσει τη ζήλια του εραστή της, Rackham, ο οποίος υποπτευόταν ρομαντική εμπλοκή μεταξύ των δύο, η Bonny του είπε ότι η Read ήταν γυναίκα. Οι εικασίες για τη σχέση μεταξύ Bonny και Read οδήγησαν σε εικόνες που απεικονίζουν τους δύο σε μάχη μαζί.

Ένα θύμα των πειρατών, η Ντόροθι Τόμας, άφησε μια περιγραφή του Read and Bonny: «Φορούσαν ανδρικά μπουφάν και μακριά παντελόνια και μαντήλια δεμένα στο κεφάλι τους: και... ο καθένας από αυτούς είχε ένα μαχαίρι και ένα πιστόλι στα χέρια του και έβριζαν και ορκίστηκαν στους άντρες να τη δολοφονήσουν [Ντόροθι Τόμας]». Η Τόμας κατέγραψε επίσης ότι ήξερε ότι ήταν γυναίκες, «από το μεγαλείο του στήθους τους».

Σύλληψη και φυλάκιση

Στις 22 Οκτωβρίου 1720, ο πρώην ιδιώτης καπετάνιος Jonathan Barnet αιφνιδίασε το πλήρωμα του Rackham, ενώ φιλοξένησαν ένα πάρτι με ρούμι με ένα άλλο πλήρωμα Άγγλων στο Negril Point στα ανοιχτά της δυτικής ακτής της Αποικίας της Τζαμάικα. Σύμφωνα με τους ισχυρισμούς, αφού ένα βολέ πυρκαγιάς απενεργοποίησε το πειρατικό σκάφος, το πλήρωμα του Rackham και οι «καλεσμένοι» τους κατέφυγαν στο αμπάρι, αφήνοντας μόνο τις δύο γυναίκες και μία άλλη για να πολεμήσουν στο πάρτι επιβίβασης του Barnet (είναι επίσης πιθανό ο Rackham και το πλήρωμά του να ήταν πολύ μεθυσμένοι να πολεμήσει). Το επίσημο πρακτικό της δίκης λέει ότι δεν υπήρχε καμία υπεράσπιση εκτός από ένα περιστρεφόμενο όπλο που πυροβολήθηκε πριν πυροβολήσει ο Μπάρνετ ως απάντηση. Μετά από αυτό το αρχείο λέει ότι ο Rackham και το πλήρωμά του παραδόθηκαν, ζητώντας "τέταρτο".

Ο Ράκχαμ και το πλήρωμά του συνελήφθησαν και οδηγήθηκαν σε δίκη στη σημερινή Ισπανική Πόλη, Τζαμάικα, όπου καταδικάστηκαν σε απαγχονισμό για πράξεις πειρατείας, όπως και ο Ρέντ και ο Μπόνι. Ωστόσο, οι γυναίκες ισχυρίστηκαν ότι ήταν και οι δύο «γρήγορες με το παιδί» (γνωστό ως «παρακαλώ την κοιλιά») και έλαβαν προσωρινή αναστολή της εκτέλεσης.

Η Read πέθανε ενώ βρισκόταν στη φυλακή τον Απρίλιο του 1721. Η ταφή της στις 28 Απριλίου βρίσκεται στα αρχεία της εκκλησίας της Αγίας Αικατερίνης στην Τζαμάικα. Δεν υπάρχει κανένα αρχείο για την ταφή του μωρού της, που να υποδηλώνει ότι μπορεί να πέθανε ενώ ήταν έγκυος ή ίσως να μην ήταν ποτέ έγκυος.
