Мэри Рид (умерла в апреле 1721 года) была английской пираткой. Она и Энн Бонни были среди немногих женщин-пиратов в "Золотой век пиратства".

Рид, вероятно, родилась в Англии. Общая история гласит, что она начала одеваться как мальчик в юном возрасте, сначала по настоянию своей матери, чтобы получить наследство, а затем в подростковом возрасте, чтобы присоединиться к британской армии. Затем она вышла замуж и после смерти мужа переехала в Вест-Индию около 1715 года.

Примерно в августе 1720 года она присоединилась к команде Джека Рэкхема, одеваясь как мужчина вместе с Энн Бонни. Ее время как пирата было недолгим, так как она, Бонни и Рэкхем были арестованы в октябре 1720 года. Рэкхем был казнен в ноябре, но Рид и Бонни обе утверждали, что беременны, во время суда и получили отсрочки приговоров. Рид умерла в тюрьме в апреле 1721 года.

Ранняя жизнь

Мать Мэри вышла замуж за моряка, от которого у нее родился сын. Затем муж исчез в море. Затем его мать начала посылать ей финансовую поддержку для мальчика.

Вскоре она снова забеременела от другого мужчины, скрывая позорную вторую беременность. Ее сын умер, затем она родила девочку Мэри. Чтобы скрыть позор, ее мать выдала юную Мэри за своего первого и единственного ребенка, мальчика, чтобы продолжать получать поддержку от бабушки мальчика. Бабушка была обманута, и они жили на ее деньги как можно дольше.

В 13 лет, переодевшись мальчиком, Рид нашла работу в качестве лакея, а затем и работу на корабле. Позже она присоединилась к британской армии и команде британского военного корабля. Позже она оставила это и переехала во Фландрию, где носила оружие в пехотном полку в качестве кадета и храбро служила, но не могла получить офицерский чин, потому что в те дни повышение в должности в основном осуществлялось за счет покупки. Мэри перешла в конный полк, который был союзником голландских войск против французов (это могло произойти во время Девятилетней войны или во время Войны за испанское наследство). Рид, переодевшись мужчиной, проявила себя в бою, но влюбилась во фламандского солдата. Когда они поженились, она использовала их военную комиссию и подарки от заинтригованных братьев по оружию, чтобы приобрести гостиницу под названием "De drie hoefijzers" ("Три подковы") недалеко от замка Бреда в Нидерландах.

После ранней смерти мужа Рид возобновила мужскую одежду и военную службу в Нидерландах. С наступлением мира не было возможности для продвижения по службе, поэтому она ушла и села на корабль, направлявшийся в Вест-Индию. Корабль, на который она села, случайно оказался на борту пиратского корабля. Переодевание в британского мужчину помогло ей, так как британские члены экипажа приняли ее.

Стать пиратом

Корабль Рид захватили пираты, к которым она охотно присоединилась. Она приняла помилование короля около 1718-1719, затем поступила на службу в каперство, но присоединилась к команде во время мятежа. В 1720 году она присоединилась к пирату Джону "Калико Джеку" Рэкхему и его спутнице Энн Бонни, которые оба считали ее мужчиной. 22 августа 1720 года эти трое угнали вооруженный шлюп под названием "Уильям" из порта в Нассау. Ученые не уверены, как женщины-пираты, такие как Рид и Бонни, скрывали свой пол в среде, где доминировали мужчины. Однако некоторые ученые предполагают, что ношение бриджей женщинами-пиратами могло быть либо методом сокрытия своей личности, либо просто практичной одеждой, которая закрепляла их рабочее место на борту корабля среди других моряков.

Когда Бонни сказала Риду, что она женщина, потому что она ее привлекала, Рид призналась, что она тоже женщина. Чтобы унять ревность своего возлюбленного Рэкхема, который подозревал романтические отношения между ними, Бонни сказала ему, что Рид - женщина. Спекуляции об отношениях между Бонни и Ридом привели к появлению изображений, изображающих их двоих в бою вместе.

Жертва пиратов Дороти Томас оставила описание Рида и Бонни: Они "носили мужские куртки, длинные брюки и платки, повязанные вокруг их голов: и ... у каждого из них в руках был мачете и пистолет, и они ругались и клялись мужчинам убить ее [Дороти Томас]". Томас также записала, что она знала, что они были женщинами, "по величине их грудей".

Захват и заключение

22 октября 1720 года бывший капитан капера Джонатан Барнет застал команду Рэкхема врасплох, когда они устраивали вечеринку с ромом с другой командой англичан в Негрил-Пойнт у западного побережья колонии Ямайка. Предположительно, после того, как залп огня вывел из строя пиратское судно, команда Рэкхема и их "гости" скрылись в трюме, оставив только двух женщин и еще одну женщину сражаться с абордажной группой Барнета (также возможно, что Рэкхем и его команда были слишком пьяны, чтобы сражаться). Официальная стенограмма суда гласит, что не было никакой защиты, кроме выстрела из поворотного ружья, прежде чем Барнет выстрелил в ответ. После этого в протоколе говорится, что Рэкхем и его команда сдались, прося "пощады".

Рэкхем и его команда были арестованы и доставлены в суд в месте, которое сейчас называется Спэниш-Таун, Ямайка, где их приговорили к повешению за акты пиратства, как и Рид и Бонни. Однако женщины утверждали, что обе они "быстро рожали" (известно как "просили живот"), и получили временные отсрочки казни.

Рид умерла в тюрьме в апреле 1721 года. Ее похороны 28 апреля есть в записях церкви Святой Екатерины на Ямайке. Нет никаких записей о захоронении ее ребенка, что позволяет предположить, что она могла умереть во время беременности или, возможно, никогда не была беременной.
