Mºrija Rïda (mirusi 1721. gada aprïlï) bija ang¶u piràte. Viña un Anna Bonija bija vienas no nedaudzajàm sievietºm piràtºm "piràtisma zelta laikmeta" laikà.

Rïda, visticamàk, bija dzimusi Anglijà. Vispàrºjà vºsture vºsta, ka viña jau agrà bºrnïbà sàka pàr»ºrbties par zºnu - sàkumà pºc màtes mudinàjuma, lai sañemtu mantojuma naudu, bet pºc tam kà pusaudze, lai iestàtos britu armijà. Pºc tam viña apprecºjàs un pºc vïra nàves ap 1715. gadu pàrcºlàs uz Rietumindiju.

Apmºram 1720. gada augustà viña pievienojàs D¾eka Rekema ekipà¾ai, pàr»ºrbjoties par vïrieti kopà ar Annu Boniju. Viñas piràtiskàs darbïbas laiks bija ïss, jo 1720. gada oktobrï viña, Bonijs un Raèams tika arestºti. Rahemam novembrï izpildïja nàvessodu, bet Reita un Bonija tiesas procesa laikà apgalvoja, ka ir grþtnieces, un sañºma atliktus sodus. Rïda nomira ieslodzïjumà 1721. gada aprïlï.

Agrïnà dzïve

Marijas màte bija precºjusies ar jþrnieku, ar kuru viñai bija dºls. Pºc tam vïrs pazuda jþrà. Viña màte sàka sþtït finansiàlu atbalstu zºnam.

Drïz vien viña atkal k¶uva stàvoklï no cita vïrie¹a, slºpjot apkaunojo¹o otro grþtniecïbu. Viñas dºls nomira, un tad viñai piedzima meitene Marija. Lai noslºptos no kauna, màte jauno Mariju izdeva par savu pirmo un vienïgo bºrnu, zºnu, lai turpinàtu sañemt atbalstu no zºna vecmàmiñas. Vecmàmiña tika apmànïta, un viñi dzïvoja par viñas naudu, cik ilgi vien iespºjams.

Trïspadsmit gadu vecumà, pàr»ºrbusies par zºnu, Rïdija atrada darbu kà kàjniece, bet pºc tam - darbu uz ku»a. Vºlàk viña iestàjàs britu armijà un britu karaku»a apkalpº. Vºlàk viña to pameta un pàrcºlàs uz Flandriju, kur kà kadete nºsàja ieroèus kàjnieku pulkà un drosmïgi dienºja, taèu nevarºja sañemt dienesta pakàpi, jo paaugstinà¹ana amatà tajos laikos lielàkoties notika ar pirk¹anu. Marija pàrgàja uz zirgu pulku, kas bija Nïderlandes spºku sabiedrotais pret franèiem (tas varºtu bþt noticis Deviñu gadu kara laikà vai Spànijas mantojuma kara laikà). Rïda, pàr»ºrbusies vïrie¹a tºrpà, pieràdïja sevi kaujàs, bet iemïlºjàs flàmu karavïrà. Kad viñi apprecºjàs, viña izmantoja viñu militàro pilnvarojumu un intri»ºtu brà¶u bruñinieku dàvanas, lai iegàdàtos krodziñu "De drie hoefijzers" ("Trïs pakavi") netàlu no Bredas pils Nïderlandº.

Pºc vïra agrïnas nàves Rïda atsàka vïrie¹u tºrpu un militàro dienestu Nïderlandº. Iestàjoties mieram, nebija iespºju paaugstinàties amatà, tàpºc viña pameta dienestu un iekàpa uz ku»a, kas devàs uz Rietumindiju. Uz ku»a, kurà viña iekàpa, nejau¹i uzkàpa piràtu ku»is. Pàr»ºrb¹anàs par britu vïrieti viñai palïdzºja, jo britu apkalpes locek¶i viñu pieñºma.

K¶þ¹ana par piràtu

Readas ku»i ieñºma piràti, kuriem viña labpràt pievienojàs. Viña pieñºma kara¶a ap¾ºlo¹anu ap 1718.-1719. g., pºc tam pieñºma kapteiña pasþtïjumu, bet pievienojàs apkalpei un sacºlàs nemierà. 1720. gadà viña pievienojàs piràtam D¾onam "Calico Jack" Rackham un viña pavadonei Annei Bonny, kuri abi uzskatïja viñu par vïrieti. 1720. gada 22. augustà visi trïs no Nassau ostas nozaga bruñotu slþpuli vàrdà Viljamss. Pºtnieki nav pàrliecinàti, kà tàdas sievietes piràtes kà Rïda un Bonija slºpa savu dzimumu vïrie¹u dominºtajà vidº. Tomºr da¾i pºtnieki ir izvirzïju¹i teoriju, ka sievie¹u piràtu brid¾u valkà¹ana varºja bþt vai nu identitàtes slºp¹anas metode, vai arï vienkàr¹i praktisks ap»ºrbs, kas nostiprinàja viñu darba vietu uz ku»a starp citiem jþrniekiem.

Kad Bonija pateica Rïdam, ka viña ir sieviete, jo viñu piesaistïja, Rïds atklàja, ka arï viña ir sieviete. Lai mazinàtu sava mï¶otà Rahema greizsirdïbu, kuram radàs aizdomas par abu romantisku saistïbu, Bonija pateica viñam, ka Rïdija ir sieviete. Spekulàcijas par Bonija un Rïdas attiecïbàm radïja attºlus, kuros abi attºloti kopà kaujà.

Piràtu upuris Dorotija Tomasa (Dorothy Thomas) bija atstàjusi Rïda un Bonija aprakstu: "Viñi bija tºrpu¹ies vïrie¹u ¾aketºs, garàs biksºs un ap galvàm apvilkti kabatlakatiñi, un ... katram no viñiem rokàs bija maèete un pistole, un viñi kliedza un zvºrºja vïrie¹iem, ka viñi viñu [Dorotiju Tomasu] nogalinàs." Tomasa arï pierakstïja, ka viña zinàja, ka tàs ir sievietes, "pºc viñu krþ¹u lieluma".

Notver¹ana un ieslodzïjums

1720. gada 22. oktobrï biju¹ais kapteinis kapteinis D¾onatans Barnets pàrsteidza Rahema apkalpi, kad viñi kopà ar citu ang¶u apkalpi rïkoja ruma ballïti Negril Point pie Jamaikas kolonijas rietumu piekrastes. Tiek apgalvots, ka pºc tam, kad piràtu ku»is tika ap¹audïts, Raèema apkalpe un viñu "viesi" aizbºga uz ku»a kravas telpu, atstàjot tikai divas sievietes un vºl vienu, kas cïnïjàs ar Barneta desantu (iespºjams arï, ka Raèems un viña apkalpe bija pàràk piedzºru¹ies, lai cïnïtos). Oficiàlajà tiesas sºdes stenogrammà teikts, ka, izñemot to, ka tika iz¹auts no grozàmà lielgabala, pirms Barnet atbildº iz¹àva, nekàdas aizsardzïbas nebija. Pºc tam protokolà teikts, ka Rackham un viña apkalpe padevàs, pieprasot "ceturksni".

Rekhemu un viña apkalpi arestºja un nogàdàja tiesà tagadºjà Spànijas pilsºtà Jamaikà, kur viñiem, tàpat kà Rïdam un Bonijam, piesprieda nàvessodu - pakàr¹anu par piràtismu. Tomºr sievietes apgalvoja, ka abas ir "àtri dzemdºju¹as" (tà sauktà "vºdera aizbildinà¹anàs"), un uz laiku tika atbrïvotas no nàvessoda izpildes.

Rïda nomira cietumà 1721. gada aprïlï. Viñas apbedïjums 28. aprïlï ir ierakstïts Svºtàs Katrïnas baznïcas ierakstos Jamaikà. Nav ierakstu par viñas bºrna apbedï¹anu, kas liek domàt, ka viña, iespºjams, nomira grþtniecïbas laikà vai varbþt nekad nav bijusi stàvoklï.
