Mary Read (ö. Nisan 1721), ©ngiliz bir korsand¹. O ve Anne Bonny "Korsanl¹»¹n Alt¹n Ça»¹" s¹ras¹nda az say¹daki kad¹n korsan aras¹ndayd¹.

Read muhtemelen ©ngiltere'de do»muºtur. Genel tarihe göre küçük yaºta, önce annesinin ¹srar¹yla mirastan para alabilmek için, daha sonra da ergenlik ça»¹nda ©ngiliz ordusuna kat¹labilmek için erkek gibi giyinmeye baºlam¹ºt¹r. Daha sonra evlendi ve kocas¹n¹n ölümü üzerine 1715 civar¹nda Bat¹ Hint Adalar¹'na taº¹nd¹.

A»ustos 1720 civar¹nda, Anne Bonny'nin yan¹nda erkek k¹l¹»¹na girerek Jack Rackham'¹n mürettebat¹na kat¹ld¹. Bir korsan olarak geçirdi»i zaman k¹sa sürdü, çünkü o, Bonny ve Rackham Ekim 1720'de tutukland¹. Rackham Kas¹m ay¹nda idam edildi, ancak Read ve Bonny duruºmalar¹ s¹ras¹nda hamile olduklar¹n¹ iddia ettiler ve ertelenmiº cezalar ald¹lar. Read Nisan 1721'de hapisteyken öldü.

Erken dönem yaºam¹

Mary'nin annesi bir denizciyle evlenmiº ve ondan bir o»lu olmuºtu. Kocas¹ daha sonra denizde kayboldu. Annesi daha sonra çocuk için ona maddi destek göndermeye baºlad¹.

K¹sa süre sonra baºka bir adamdan tekrar hamile kald¹ ve utanç verici ikinci hamileli»ini gizledi. O»lu öldü, sonra da Meryem ad¹nda bir k¹z çocu»u do»urdu. Annesi utanc¹n¹ gizlemek için küçük Meryem'i ilk ve tek çocu»u olan o»lan¹n yerine koyarak o»lan¹n büyükannesinden destek almaya devam etti. Büyükanne kand¹r¹ld¹ ve mümkün oldu»unca uzun süre onun paras¹yla yaºad¹lar.

Read 13 yaº¹ndayken erkek çocu»u gibi giyinerek önce ayakç¹ olarak, ard¹ndan da bir gemide iº buldu. Daha sonra ©ngiliz ordusuna ve bir ©ngiliz savaº gemisinin mürettebat¹na kat¹ld¹. Daha sonra bunu b¹rakarak Flandre'a taº¹nd¹ ve burada bir piyade alay¹nda ö»renci olarak silah taº¹d¹ ve cesurca hizmet etti ancak o günlerde terfi ço»unlukla sat¹n alma yoluyla oldu»u için bir komisyon alamad¹. Mary, Frans¹zlara karº¹ Hollanda kuvvetleriyle müttefik olan bir atl¹ alay¹na geçti (bu Dokuz Y¹l Savaº¹ ya da ©spanya Veraset Savaº¹ s¹ras¹nda olabilir). Read, erkek k¹l¹»¹na girerek savaºta kendini kan¹tlad¹ ama Flaman bir askere aº¹k oldu. Evlendiklerinde, askeri görevlerini ve entrikac¹ silah arkadaºlar¹n¹n hediyelerini kullanarak Hollanda'daki Breda Kalesi yak¹nlar¹nda "De drie hoefijzers" ("Üç Nal") ad¹nda bir han sat¹n ald¹.

Kocas¹n¹n erken ölümü üzerine Read, Hollanda'da erkek k¹yafetine ve askerlik hizmetine devam etti. Bar¹ºla birlikte ilerleme imkân¹ kalmad¹»¹ için istifa etti ve Bat¹ Hint Adalar¹'na giden bir gemiye bindi. Bindi»i gemi bir korsan gemisi taraf¹ndan ele geçirildi. ©ngiliz bir erkek k¹l¹»¹na girmesi ona yard¹mc¹ oldu, çünkü ©ngiliz mürettebat üyeleri onu aralar¹na ald¹.

Korsan olmak

Read'in gemisi, kendi iste»iyle kat¹ld¹»¹ korsanlar taraf¹ndan ele geçirildi. 1718-1719 y¹llar¹ aras¹nda Kral'¹n aff¹n¹ kabul etti, ard¹ndan özel bir korsan olarak görevlendirildi, ancak isyan eden mürettebata kat¹ld¹. 1720'de korsan John "Calico Jack" Rackham ve onun erkek oldu»una inanan arkadaº¹ Anne Bonny'ye kat¹ld¹. Üçü 22 A»ustos 1720'de Nassau liman¹ndan William ad¹nda silahl¹ bir yelkenli çald¹. Araºt¹rmac¹lar Read ve Bonny gibi kad¹n korsanlar¹n erkek egemen bir ortamda cinsiyetlerini nas¹l gizlediklerinden emin de»iller. Ancak baz¹ akademisyenler, kad¹n korsanlar¹n pantolon giymesinin ya kimliklerini gizlemek için bir yöntem ya da gemide di»er denizciler aras¹ndaki çal¹ºma yerlerini sa»lamlaºt¹ran pratik bir k¹yafet olabilece»i teorisini ortaya atm¹ºlard¹r.

Bonny Read'e ondan etkilendi»i için kad¹n oldu»unu söyledi»inde, Read de kendisinin bir kad¹n oldu»unu aç¹klam¹ºt¹r. ©kili aras¹nda romantik bir iliºki oldu»undan ºüphelenen sevgilisi Rackham'¹n k¹skançl¹»¹n¹ yat¹ºt¹rmak için Bonny ona Read'in bir kad¹n oldu»unu söyledi. Bonny ve Read aras¹ndaki iliºki üzerine yap¹lan spekülasyonlar, ikilinin birlikte savaº¹rken resmedilmesine yol açt¹.

Korsanlar¹n kurbanlar¹ndan Dorothy Thomas, Read ve Bonny'yi ºöyle tarif etmiºtir: "Erkek ceketleri ve uzun pantolonlar giyiyorlard¹ ve baºlar¹na mendil ba»lam¹ºlard¹: ve ... her birinin elinde bir pala ve tabanca vard¹ ve onu [Dorothy Thomas'¹] öldürmeleri için adamlara küfredip sövüyorlard¹." Thomas ayr¹ca onlar¹n kad¹n oldu»unu "gö»üslerinin büyüklü»ünden" anlad¹»¹n¹ da kaydetmiºtir.

Yakalanma ve hapsedilme

22 Ekim 1720'de, eski korsan Kaptan Jonathan Barnet, Jamaika Kolonisi'nin bat¹ k¹y¹s¹ndaki Negril Noktas¹'nda baºka bir ©ngiliz mürettebat¹yla birlikte rom partisi veren Rackham'¹n mürettebat¹n¹ gafil avlad¹. ©ddiaya göre, bir yayl¹m ateºi korsan gemisini etkisiz hale getirdikten sonra, Rackham'¹n mürettebat¹ ve "misafirleri" ambara kaçm¹º, Barnet'in gemiye ç¹kan ekibiyle savaºmak için sadece iki kad¹n ve bir kiºi kalm¹ºt¹r (Rackham ve mürettebat¹n¹n savaºamayacak kadar sarhoº olmas¹ da mümkündür). Resmi duruºma tutana»¹na göre, Barnet'in karº¹l¹k olarak ateº etmesinden önce bir döner tabancan¹n ateºlenmesi d¹º¹nda herhangi bir savunma yap¹lmam¹ºt¹r. Bundan sonra kay¹tlar Rackham ve ekibinin teslim oldu»unu ve "çeyreklik" talep etti»ini söylüyor.

Rackham ve mürettebat¹ tutuklanarak bugün Jamaika'n¹n ©spanyol Kasabas¹ olan yerde mahkemeye ç¹kar¹lm¹º ve Read ve Bonny gibi korsanl¹k suçundan idama mahkûm edilmiºlerdir. Ancak kad¹nlar her ikisinin de "çabuk çocuk sahibi olduklar¹n¹" iddia ederek ("göbe»ini kaº¹mak" olarak bilinir) geçici olarak infazlar¹n¹n ertelenmesini sa»lad¹lar.

Read Nisan 1721'de hapisteyken öldü. 28 Nisan'da gömüldü»ü Jamaika'daki Aziz Catherine kilisesinin kay¹tlar¹nda yer almaktad¹r. Bebe»inin gömüldü»üne dair bir kay¹t yoktur, bu da hamileyken ölmüº olabilece»ini ya da belki de hiç hamile kalmad¹»¹n¹ düºündürmektedir.
