Mary Read (død april 1721), var en engelsk pirat. Hun og Anne Bonny var blant de få kvinnelige sjørøverne under "piratets gullalder".

Read ble sannsynligvis født i England. General History sier at hun begynte å kle seg som gutt i ung alder, først etter morens oppfordring for å motta arvepenger og deretter som tenåring for å bli med i det britiske militæret. Hun giftet seg deretter og flyttet etter ektemannens død til Vestindia rundt 1715.

Rundt august 1720 sluttet hun seg til Jack Rackhams mannskap, og kledde seg som en mann sammen med Anne Bonny. Tiden hennes som sjørøver ble kortvarig, da hun, Bonny og Rackham ble arrestert i oktober 1720. Rackham ble henrettet i november, men Read og Bonny hevdet begge å være gravide under rettssakene deres og fikk forsinkede dommer. Read døde mens han ble fengslet i april 1721.

Tidlig liv

Marys mor hadde giftet seg med en sjømann, som hun fikk en sønn med. Ektemannen forsvant deretter på sjøen. Moren hans begynte da å sende henne økonomisk støtte til gutten.

Hun ble snart gravid igjen av en annen mann, og skjulte den skammelige andre graviditeten. Sønnen hennes døde, så fødte hun en jente, Mary. For å skjule skammen, ga moren hennes unge Mary ut som sitt første og eneste barn, gutten, for å fortsette å motta støtte fra guttens bestemor. Bestemoren ble lurt, og de levde på pengene hennes så lenge som mulig.

I en alder av 13, kledd som en gutt, fant Read arbeid som fotgutt, og deretter jobb på et skip. Hun ble senere med i det britiske militæret, og mannskapet på en britisk krigsmann. Hun sluttet senere og flyttet inn i Flandern hvor hun bar våpen i et fotregiment som kadett og tjente tappert, men kunne ikke motta en provisjon fordi forfremmelse i disse dager for det meste var ved kjøp. Mary gikk videre til et regiment av hest som var alliert med nederlandske styrker mot franskmennene (dette kunne ha vært under niårskrigen eller under den spanske arvefølgekrigen). Read, i mannlig forkledning, beviste seg gjennom kamp, men ble forelsket i en flamsk soldat. Da de giftet seg, brukte hun deres militære provisjon og gaver fra fascinerte våpenbrødre for å skaffe seg et vertshus ved navn "De drie hoefijzers" ("De tre hesteskoene") nær Breda slott i Nederland.

Etter ektemannens tidlige død gjenopptok Read mannlig kjole og militærtjeneste i Nederland. Med fred var det ikke rom for avansement, så hun sluttet og gikk om bord på et skip på vei til Vestindia. Skipet hun gikk om bord ble tilfeldigvis ombord av et piratskip. Å være forkledd som en britisk mann hjalp henne, da de britiske besetningsmedlemmene tok henne inn.

Å bli en pirat

Reads skip ble tatt av pirater, som hun villig ble med. Hun tok imot kongens benådning c. 1718-1719, tok deretter en kommisjon til kaper, men sluttet seg til mannskapet i mytteri. I 1720 sluttet hun seg til piraten John "Calico Jack" Rackham og hans følgesvenn, Anne Bonny, som begge trodde at hun var en mann. Den 22. august 1720 stjal de tre en væpnet slupp ved navn William fra havn i Nassau. Forskere er usikre på hvordan kvinnelige pirater som Read og Bonny skjulte kjønnet sitt i et mannsdominert miljø. Noen forskere har imidlertid teoretisert at kvinnelige piraters bruk av knebukser enten kan ha vært en metode for å skjule identiteten deres eller ganske enkelt som praktiske klær som stivnet deres arbeidsplass om bord på skipet blant de andre sjømennene.

Da Bonny fortalte Read at hun var en kvinne fordi hun var tiltrukket av henne, avslørte Read at hun også var en kvinne. For å dempe sjalusien til kjæresten hennes, Rackham, som mistenkte romantisk involvering mellom de to, fortalte Bonny ham at Read var en kvinne. Spekulasjoner rundt forholdet mellom Bonny og Read førte til bilder som skildrer de to i kamp sammen.

Et offer for piratene, Dorothy Thomas, etterlot en beskrivelse av Read og Bonny: De "bar menns jakker og lange bukser og lommetørklær bundet om hodet: og ... hver av dem hadde en machete og pistol i hendene og de forbannet og sverget på mennene om å drepe henne [Dorothy Thomas]." Thomas registrerte også at hun visste at de var kvinner, "fra de store brystene deres."

Fangst og fengsling

Den 22. oktober 1720 overrasket tidligere kaperkaptein Jonathan Barnet Rackhams mannskap, mens de var vertskap for en romfest med et annet mannskap av engelskmenn på Negril Point utenfor vestkysten av kolonien Jamaica. Angivelig, etter at en ildsalve deaktiverte piratfartøyet, flyktet Rackhams mannskap og deres "gjester" til lasterommet, og etterlot bare de to kvinnene og en annen for å kjempe mot Barnets boardingparty (det er også mulig at Rackham og hans mannskap var for fulle å kjempe). Den offisielle rettssaken sier at det ikke var noe forsvar montert bortsett fra at en dreibar pistol ble avfyrt før Barnet skjøt som svar. Etter det sier posten at Rackham og mannskapet hans overga seg og ba om "kvart".

Rackham og mannskapet hans ble arrestert og stilt for rettssak i det som nå er Spanish Town, Jamaica, hvor de ble dømt til å henge for piratkopiering, i likhet med Read og Bonny. Kvinnene hevdet imidlertid at de begge var "raske med barn" (kjent som "be om magen"), og fikk midlertidige henrettelsesopphold.

Read døde mens han var i fengsel i april 1721. Begravelsen hennes 28. april står i arkivene til St. Catherines kirke på Jamaica. Det er ingen oversikt over begravelsen av babyen hennes, noe som tyder på at hun kan ha dødd mens hun var gravid, eller kanskje aldri hadde vært gravid.
