Mary Read (ö. Nisan 1721), İngiliz bir korsandı. O ve Anne Bonny "Korsanlığın Altın Çağı" sırasında az sayıdaki kadın korsan arasındaydı.

Read muhtemelen İngiltere'de doğmuştur. Genel tarihe göre küçük yaşta, önce annesinin ısrarıyla mirastan para alabilmek için, daha sonra da ergenlik çağında İngiliz ordusuna katılabilmek için erkek gibi giyinmeye başlamıştır. Daha sonra evlendi ve kocasının ölümü üzerine 1715 civarında Batı Hint Adaları'na taşındı.

Ağustos 1720 civarında, Anne Bonny'nin yanında erkek kılığına girerek Jack Rackham'ın mürettebatına katıldı. Bir korsan olarak geçirdiği zaman kısa sürdü, çünkü o, Bonny ve Rackham Ekim 1720'de tutuklandı. Rackham Kasım ayında idam edildi, ancak Read ve Bonny duruşmaları sırasında hamile olduklarını iddia ettiler ve ertelenmiş cezalar aldılar. Read Nisan 1721'de hapisteyken öldü.

Erken dönem yaşamı

Mary'nin annesi bir denizciyle evlenmiş ve ondan bir oğlu olmuştu. Kocası daha sonra denizde kayboldu. Annesi daha sonra çocuk için ona maddi destek göndermeye başladı.

Kısa süre sonra başka bir adamdan tekrar hamile kaldı ve utanç verici ikinci hamileliğini gizledi. Oğlu öldü, sonra da Meryem adında bir kız çocuğu doğurdu. Annesi utancını gizlemek için küçük Meryem'i ilk ve tek çocuğu olan oğlanın yerine koyarak oğlanın büyükannesinden destek almaya devam etti. Büyükanne kandırıldı ve mümkün olduğunca uzun süre onun parasıyla yaşadılar.

Read 13 yaşındayken erkek çocuğu gibi giyinerek önce ayakçı olarak, ardından da bir gemide iş buldu. Daha sonra İngiliz ordusuna ve bir İngiliz savaş gemisinin mürettebatına katıldı. Daha sonra bunu bırakarak Flandre'a taşındı ve burada bir piyade alayında öğrenci olarak silah taşıdı ve cesurca hizmet etti ancak o günlerde terfi çoğunlukla satın alma yoluyla olduğu için bir komisyon alamadı. Mary, Fransızlara karşı Hollanda kuvvetleriyle müttefik olan bir atlı alayına geçti (bu Dokuz Yıl Savaşı ya da İspanya Veraset Savaşı sırasında olabilir). Read, erkek kılığına girerek savaşta kendini kanıtladı ama Flaman bir askere aşık oldu. Evlendiklerinde, askeri görevlerini ve entrikacı silah arkadaşlarının hediyelerini kullanarak Hollanda'daki Breda Kalesi yakınlarında "De drie hoefijzers" ("Üç Nal") adında bir han satın aldı.

Kocasının erken ölümü üzerine Read, Hollanda'da erkek kıyafetine ve askerlik hizmetine devam etti. Barışla birlikte ilerleme imkânı kalmadığı için istifa etti ve Batı Hint Adaları'na giden bir gemiye bindi. Bindiği gemi bir korsan gemisi tarafından ele geçirildi. İngiliz bir erkek kılığına girmesi ona yardımcı oldu, çünkü İngiliz mürettebat üyeleri onu aralarına aldı.

Korsan olmak

Read'in gemisi, kendi isteğiyle katıldığı korsanlar tarafından ele geçirildi. 1718-1719 yılları arasında Kral'ın affını kabul etti, ardından özel bir korsan olarak görevlendirildi, ancak isyan eden mürettebata katıldı. 1720'de korsan John "Calico Jack" Rackham ve onun erkek olduğuna inanan arkadaşı Anne Bonny'ye katıldı. Üçü 22 Ağustos 1720'de Nassau limanından William adında silahlı bir yelkenli çaldı. Araştırmacılar Read ve Bonny gibi kadın korsanların erkek egemen bir ortamda cinsiyetlerini nasıl gizlediklerinden emin değiller. Ancak bazı akademisyenler, kadın korsanların pantolon giymesinin ya kimliklerini gizlemek için bir yöntem ya da gemide diğer denizciler arasındaki çalışma yerlerini sağlamlaştıran pratik bir kıyafet olabileceği teorisini ortaya atmışlardır.

Bonny Read'e ondan etkilendiği için kadın olduğunu söylediğinde, Read de kendisinin bir kadın olduğunu açıklamıştır. İkili arasında romantik bir ilişki olduğundan şüphelenen sevgilisi Rackham'ın kıskançlığını yatıştırmak için Bonny ona Read'in bir kadın olduğunu söyledi. Bonny ve Read arasındaki ilişki üzerine yapılan spekülasyonlar, ikilinin birlikte savaşırken resmedilmesine yol açtı.

Korsanların kurbanlarından Dorothy Thomas, Read ve Bonny'yi şöyle tarif etmiştir: "Erkek ceketleri ve uzun pantolonlar giyiyorlardı ve başlarına mendil bağlamışlardı: ve ... her birinin elinde bir pala ve tabanca vardı ve onu [Dorothy Thomas'ı] öldürmeleri için adamlara küfredip sövüyorlardı." Thomas ayrıca onların kadın olduğunu "göğüslerinin büyüklüğünden" anladığını da kaydetmiştir.

Yakalanma ve hapsedilme

22 Ekim 1720'de, eski korsan Kaptan Jonathan Barnet, Jamaika Kolonisi'nin batı kıyısındaki Negril Noktası'nda başka bir İngiliz mürettebatıyla birlikte rom partisi veren Rackham'ın mürettebatını gafil avladı. İddiaya göre, bir yaylım ateşi korsan gemisini etkisiz hale getirdikten sonra, Rackham'ın mürettebatı ve "misafirleri" ambara kaçmış, Barnet'in gemiye çıkan ekibiyle savaşmak için sadece iki kadın ve bir kişi kalmıştır (Rackham ve mürettebatının savaşamayacak kadar sarhoş olması da mümkündür). Resmi duruşma tutanağına göre, Barnet'in karşılık olarak ateş etmesinden önce bir döner tabancanın ateşlenmesi dışında herhangi bir savunma yapılmamıştır. Bundan sonra kayıtlar Rackham ve ekibinin teslim olduğunu ve "çeyreklik" talep ettiğini söylüyor.

Rackham ve mürettebatı tutuklanarak bugün Jamaika'nın İspanyol Kasabası olan yerde mahkemeye çıkarılmış ve Read ve Bonny gibi korsanlık suçundan idama mahkûm edilmişlerdir. Ancak kadınlar her ikisinin de "çabuk çocuk sahibi olduklarını" iddia ederek ("göbeğini kaşımak" olarak bilinir) geçici olarak infazlarının ertelenmesini sağladılar.

Read Nisan 1721'de hapisteyken öldü. 28 Nisan'da gömüldüğü Jamaika'daki Aziz Catherine kilisesinin kayıtlarında yer almaktadır. Bebeğinin gömüldüğüne dair bir kayıt yoktur, bu da hamileyken ölmüş olabileceğini ya da belki de hiç hamile kalmadığını düşündürmektedir.
