Mary Read (zemřel v dubnu 1721), byl anglický pirát. Ona a Anne Bonny byly jedny z mála pirátek během "zlatého věku pirátství".

Read se pravděpodobně narodil v Anglii. Obecná historie říká, že se začala oblékat jako chlapec v mladém věku, nejprve na naléhání své matky, aby získala peníze z dědictví, a poté jako teenager, aby se připojila k britské armádě. Poté se vdala a po smrti svého manžela se kolem roku 1715 přestěhovala do Západní Indie.

Kolem srpna 1720 se připojila k posádce Jacka Rackhama a oblékala se jako muž po boku Anne Bonny. Její doba jako pirátka byla krátká, protože ona, Bonny a Rackham byli zatčeni v říjnu 1720. Rackham byl popraven v listopadu, ale Read a Bonny oba tvrdili, že byli těhotní během svých soudů a dostali odložené tresty. Read zemřel ve vězení v dubnu 1721.

Raný život

Maryina matka se provdala za námořníka, se kterým měla syna. Manžel poté zmizel na moři. Jeho matka pak začala chlapce finančně podporovat.

Brzy znovu otěhotněla s jiným mužem a skrývala ostudné druhé těhotenství. Zemřel jí syn a porodila dívku Mary. Aby skryla hanbu, její matka vydala mladou Mary za své první a jediné dítě, chlapce, aby i nadále dostávala podporu od chlapcovy babičky. Babička se nechala napálit a z jejích peněz žili, dokud to šlo.

Ve 13 letech, oblečený jako chlapec, Read našel práci jako pěšák a poté zaměstnání na lodi. Později vstoupila do britské armády a do posádky britského válečného muže. Později toho nechala a přestěhovala se do Flander, kde jako kadetka nosila zbraně v pěším pluku a sloužila statečně, ale nemohla dostat provizi, protože povýšení v té době bylo většinou nákupem. Mary přešla k pluku koní, který byl spojen s nizozemskými silami proti Francouzům (mohlo to být během devítileté války nebo během války o španělské dědictví). Readová se v mužském přestrojení osvědčila v bitvě, ale zamilovala se do vlámského vojáka. Když se vzali, využila jejich vojenského pověření a darů od zaujatých bratrů ve zbrani k získání hostince s názvem "De drie hoefijzers" ("Tři podkovy") poblíž hradu Breda v Nizozemsku.

Po předčasné smrti svého manžela se Readová vrátila do mužského oblečení a do vojenské služby v Nizozemsku. S mírem nebyl prostor pro pokrok, a tak toho nechala a nastoupila na loď směřující do Západní Indie. Na loď, na kterou nastoupila, nastoupila náhodou pirátská loď. Pomohlo jí to, že byla převlečená za britského muže, protože ji přijali britští členové posádky.

Stát se pirátem

Readovu loď zabrali piráti, ke kterým se ochotně přidala. Přijala královu milost c. 1718-1719, poté přijal provizi k lupičům, ale připojil se k posádce ve vzpouře. V roce 1720 se připojila k pirátovi Johnu "Calico Jackovi" Rackhamovi a jeho společnici Anne Bonnyové, kteří ji oba věřili, že je muž. 22. srpna 1720 ti tři ukradli ozbrojenou šalupu jménem William z přístavu v Nassau. Učenci si nejsou jisti, jak pirátky jako Read a Bonny skrývaly své pohlaví v prostředí, kde dominují muži. Někteří učenci však přišli s teorií, že nošení kalhot pirátek mohlo být buď metodou skrývání jejich identity, nebo jednoduše jako praktické oblečení, které zpevnilo jejich pracovní místo na palubě lodi mezi ostatními námořníky.

Když Bonny řekla Readovi, že je žena, protože ji přitahuje, Read odhalil, že i ona je žena. Aby zmírnila žárlivost svého milence Rackhama, který měl podezření na milostný vztah mezi těmi dvěma, řekla mu Bonny, že Read je žena. Spekulace o vztahu mezi Bonny a Readem vedly k obrázkům zobrazujícím ty dva v boji spolu.

Oběť pirátů, Dorothy Thomasová, zanechala popis Reada a Bonnyho: "Měli na sobě pánská saka a dlouhé kalhoty a kapesníky uvázané kolem hlavy: a ... každý z nich měl v rukou mačetu a pistoli a proklínali a nadávali mužům, aby ji zavraždili [Dorothy Thomas]." Thomas také zaznamenal, že věděla, že jsou to ženy, "podle velikosti jejich prsou".

Zajetí a uvěznění

Dne 22. října 1720 bývalý lupič kapitán Jonathan Barnet překvapil Rackhamovu posádku, zatímco uspořádali rumovou párty s další posádkou Angličanů v Negril Point u západního pobřeží kolonie Jamajka. Údajně poté, co salva vyřadila z provozu pirátské plavidlo, Rackhamova posádka a jejich "hosté" uprchli do nákladového prostoru a zůstaly pouze dvě ženy a jedna další, aby bojovali s Barnetovou palubní skupinou (je také možné, že Rackham a jeho posádka byli příliš opilí bojovat). Oficiální přepis soudního procesu říká, že neexistovala žádná obrana, kromě výstřelu z otočné zbraně, než Barnet vystřelil jako odpověď. Poté záznam říká, že se Rackham a jeho posádka vzdali a požádali o "čtvrtinu".

Rackham a jeho posádka byli zatčeni a postaveni před soud v dnešním španělském městě na Jamajce, kde byli stejně jako Read a Bonny odsouzeni k oběšení za pirátské činy. Ženy však tvrdily, že byly "rychlé s dítětem" (známé jako "prosba břicha") a dostaly dočasné odklady popravy.

Read zemřela ve vězení v dubnu 1721. Její pohřeb 28. dubna je v záznamech kostela sv. Kateřiny na Jamajce. Neexistuje žádný záznam o pohřbu jejího dítěte, což naznačuje, že mohla zemřít během těhotenství nebo možná nikdy nebyla těhotná.
