Mary Read (kuoli huhtikuussa 1721) oli englantilainen merirosvo. Hän ja Anne Bonny kuuluivat harvoihin naispuolisiin merirosvoihin merirosvouksen kulta-aikana.

Read syntyi todennäköisesti Englannissa. Yleisen historian mukaan hän alkoi pukeutua pojaksi jo nuorena, ensin äitinsä kehotuksesta saadakseen perintörahaa ja sitten teini-ikäisenä liittyäkseen brittiläiseen armeijaan. Sitten hän meni naimisiin ja muutti miehensä kuoltua Länsi-Intiaan noin vuonna 1715.

Elokuun 1720 tienoilla hän liittyi Jack Rackhamin miehistöön ja pukeutui mieheksi Anne Bonnyn rinnalla. Hänen aikansa merirosvona jäi lyhyeksi, sillä hänet, Bonny ja Rackham pidätettiin lokakuussa 1720. Rackham teloitettiin marraskuussa, mutta Read ja Bonny väittivät molemmat oikeudenkäynneissä olevansa raskaana ja saivat lykkäystuomion. Read kuoli vankeudessa huhtikuussa 1721.

Varhainen elämä

Maryn äiti oli mennyt naimisiin merimiehen kanssa, jonka kanssa hän sai pojan. Aviomies katosi sitten merellä. Hänen äitinsä alkoi sitten lähettää hänelle taloudellista tukea pojalle.

Pian hän tuli uudelleen raskaaksi toisesta miehestä ja salasi häpeällisen toisen raskauden. Hänen poikansa kuoli, sitten hän synnytti tytön, Marian. Häpeän peittääkseen äitinsä antoi nuoren Maryn esiintyä ensimmäisenä ja ainoana lapsenaan, poikana, saadakseen edelleen tukea pojan isoäidiltä. Isoäitiä huijattiin, ja he elivät hänen rahoillaan niin kauan kuin mahdollista.

13-vuotiaana Read löysi pojaksi pukeutuneena töitä jalkamiehenä ja sitten töitä laivalla. Myöhemmin hän liittyi brittiarmeijaan ja brittiläisen sotalaivan miehistöön. Myöhemmin hän lopetti tämän ja muutti Flanderiin, jossa hän kantoi kadettina aseita jalkaväkirykmentissä ja palveli urheasti, mutta ei saanut komennusta, koska ylennykset tapahtuivat tuohon aikaan lähinnä ostamalla. Maria siirtyi hevosrykmenttiin, joka liittoutui hollantilaisten joukkojen kanssa ranskalaisia vastaan (tämä saattoi tapahtua yhdeksänvuotisen sodan tai Espanjan perintösodan aikana). Read, joka oli pukeutunut mieheksi, osoittautui taistelussa hyväksi, mutta rakastui flaamilaiseen sotilaaseen. Kun he menivät naimisiin, hän käytti sotilaslupaa ja juonittelevien aseveljien antamia lahjoja hankkiakseen "De drie hoefijzers" ("Kolme hevosenkenkää") -nimisen majatalon lähellä Bredan linnaa Alankomaissa.

Aviomiehensä varhaisen kuoleman jälkeen Read jatkoi miesten pukeutumista ja asepalvelusta Alankomaissa. Rauhan myötä etenemismahdollisuuksia ei ollut, joten hän irtisanoutui ja nousi laivaan, jonka määränpäänä oli Länsi-Intia. Laivaan, johon hän nousi, sattui nousemaan merirosvolaiva. Naamioituminen brittimieheksi auttoi häntä, sillä brittimiehistön jäsenet ottivat hänet luokseen.

Merirosvoksi ryhtyminen

Readin laivan valtasivat merirosvot, joihin hän liittyi vapaaehtoisesti. Hän hyväksyi kuninkaan armahduksen n. 1718-1719, otti sitten vastaan yksityisaluksen, mutta liittyi miehistöön kapinaan. Vuonna 1720 hän liittyi merirosvo John "Calico Jack" Rackhamiin ja tämän kumppaniin Anne Bonnyyn, jotka molemmat luulivat häntä mieheksi. Elokuun 22. päivänä 1720 kolmikko varasti William-nimisen aseistetun sloupin Nassaun satamasta. Tutkijat ovat epävarmoja siitä, miten Readin ja Bonnyn kaltaiset naismerirosvot salasivat sukupuolensa miesvaltaisessa ympäristössä. Jotkut tutkijat ovat kuitenkin esittäneet teorian, jonka mukaan naispiraattien käyttämät housut saattoivat olla joko keino salata henkilöllisyytensä tai yksinkertaisesti käytännöllinen vaatetus, joka vahvisti heidän asemaansa laivalla muiden merimiesten joukossa.

Kun Bonny kertoi Readille, että hän oli nainen, koska tunsi vetoa häneen, Read paljasti, että hänkin oli nainen. Vähentääkseen rakastajansa Rackhamin mustasukkaisuutta, joka epäili romanttista suhdetta heidän välillään, Bonny kertoi hänelle, että Read oli nainen. Spekulaatiot Bonnyn ja Readin välisestä suhteesta johtivat kuviin, joissa heidät kuvattiin yhdessä taistelussa.

Merirosvojen uhri Dorothy Thomas jätti kuvauksen Readista ja Bonnysta: "Heillä oli miesten takit ja pitkät housut ja nenäliinat sidottuina päähän: ja ... kummallakin oli kädessään machete ja pistooli, ja he kirosivat ja vannoivat miehiä murhaamaan hänet [Dorothy Thomasin]". Thomas kirjasi myös, että hän tiesi heidän olevan naisia "heidän rintojensa suuruudesta".

Kiinniotto ja vangitseminen

Lokakuun 22. päivänä 1720 entinen yksityisvarustaja kapteeni Jonathan Barnet yllätti Rackhamin miehistön, kun he järjestivät rommijuhlia toisen englantilaismiehistön kanssa Negril Pointissa Jamaikan siirtokunnan länsirannikolla. Väitetään, että sen jälkeen, kun merirosvoalus oli tulituksen seurauksena menettänyt toimintakykynsä, Rackhamin miehistö ja heidän "vieraansa" pakenivat ruumaan, ja vain kaksi naista ja yksi muu henkilö jäivät taistelemaan Barnetin miehistöä vastaan (on myös mahdollista, että Rackham ja hänen miehistönsä olivat liian humalassa taistellakseen). Virallisen oikeudenkäyntipöytäkirjan mukaan puolustusta ei järjestetty sen lisäksi, että kääntyvällä aseella ammuttiin ennen kuin Barnet ampui vastaukseksi. Tämän jälkeen pöytäkirjassa sanotaan, että Rackham ja hänen miehistönsä antautuivat ja pyysivät "neljäsosaa".

Rackham ja hänen miehistönsä pidätettiin ja tuotiin oikeuteen nykyisen Spanish Townin alueella Jamaikalla, jossa heidät tuomittiin merirosvouksesta hirttotuomioon, kuten myös Read ja Bonny. Naiset kuitenkin väittivät, että molemmat olivat "raskaana" (tunnetaan nimellä "vatsaan vetoaminen"), ja saivat väliaikaista lykkäystä teloitukseen.

Read kuoli vankilassa huhtikuussa 1721. Hänen hautauksensa 28. huhtikuuta on Jamaikan Pyhän Katariinan kirkon arkistossa. Hänen vauvansa hautaamisesta ei ole merkintöjä, mikä viittaa siihen, että hän saattoi kuolla raskaana ollessaan, tai ehkä hän ei ollut koskaan raskaana.
