ماري ريد (توفيت في أبريل 1721)، كانت قرصانة إنجليزية. كانت هي وآنا بوني من بين القلائل من القراصنة الإناث خلال "العصر الذهبي للقرصنة".

من المرجح أن ريد ولدت في إنجلترا. يقول التاريخ العام أنها بدأت في ارتداء ملابس الصبي في سن مبكرة، في البداية بناءً على إلحاح والدتها من أجل الحصول على أموال الميراث ثم في سن المراهقة من أجل الانضمام إلى الجيش البريطاني. ثم تزوجت وبعد وفاة زوجها انتقلت إلى جزر الهند الغربية حوالي عام 1715.

حوالي أغسطس 1720، انضمت إلى طاقم جاك راكهام، وارتدت ملابس الرجال إلى جانب آن بوني. لم تدم فترة عملها كقرصانة طويلاً، حيث تم القبض عليها وبوني وراكهام في أكتوبر 1720. تم إعدام راكهام في نوفمبر، لكن ريد وبوني ادعتا أنهما كانتا حاملاً أثناء محاكمتهما وحُكِم عليهما بالسجن المؤجل. توفيت ريد وهي مسجونة في أبريل 1721.

الحياة المبكرة

تزوجت والدة ماري من بحار، وأنجبت منه ابنًا. ثم اختفى الزوج في البحر. ثم بدأت والدته في إرسال دعم مالي للصبي.

سرعان ما حملت مرة أخرى من رجل آخر، وأخفت الحمل الثاني المخزي. توفي ابنها، ثم أنجبت فتاة، ماري. ولإخفاء العار، قدمت والدتها ماري الصغيرة على أنها طفلها الأول والوحيد، الصبي، لمواصلة تلقي الدعم من جدة الصبي. خُدعت الجدة، وعاشوا على أموالها لأطول فترة ممكنة.

في سن الثالثة عشرة، كانت ترتدي زي الصبي، ووجدت ريد عملاً كصبي، ثم وظيفة على متن سفينة. انضمت لاحقًا إلى الجيش البريطاني، وطاقم سفينة حربية بريطانية. تركت هذا لاحقًا وانتقلت إلى فلاندرز حيث حملت السلاح في فوج مشاة كطالبة وخدمت بشجاعة لكنها لم تستطع الحصول على عمولة لأن الترقية في تلك الأيام كانت في الغالب عن طريق الشراء. انتقلت ماري إلى فوج من الخيول كان متحالفًا مع القوات الهولندية ضد الفرنسيين (ربما كان ذلك أثناء حرب السنوات التسع أو أثناء حرب الخلافة الإسبانية). أثبتت ريد نفسها في المعركة وهي متنكرة في زي رجل، لكنها وقعت في حب جندي فلمنكي. وعندما تزوجا، استخدمت عمولتهما العسكرية وهدايا من إخوانها المتحمسين في السلاح لشراء نزل يُدعى "De drie hoefijzers" ("الخيول الثلاثة") بالقرب من قلعة بريدا في هولندا.

بعد وفاة زوجها المبكرة، استأنفت ريد ارتداء الزي الرجالي والخدمة العسكرية في هولندا. ومع السلام، لم يكن هناك مجال للتقدم، لذلك استقالت واستقلت سفينة متجهة إلى جزر الهند الغربية. كانت السفينة التي استقلتها سفينة قراصنة. ساعدها تنكرها في زي رجل بريطاني، حيث استقبلها أفراد الطاقم البريطانيون.

التحول إلى قرصانة

استولى القراصنة على سفينة ريد، وانضمت إليهم طواعية. قبلت العفو الملكي حوالي عام 1718-1719، ثم حصلت على مهمة قرصنة، لكنها انضمت إلى الطاقم في التمرد. في عام 1720 انضمت إلى القرصان جون "كاليكو جاك" راكهام ورفيقته آن بوني، وكلاهما اعتقد أنها رجل. في 22 أغسطس 1720، سرق الثلاثة مركبًا شراعيًا مسلحًا يُدعى ويليام من ميناء في ناسو. العلماء غير متأكدين من كيفية إخفاء القراصنة الإناث مثل ريد وبوني جنسهم في بيئة يهيمن عليها الذكور. ومع ذلك، افترض بعض العلماء أن ارتداء القراصنة الإناث للبنطلونات ربما كان إما طريقة لإخفاء هويتهم أو ببساطة كملابس عملية عززت مكان عملهم على متن السفينة بين البحارة الآخرين.

عندما أخبرت بوني ريد أنها امرأة لأنها انجذبت إليها، كشفت ريد أنها أيضًا امرأة. ولتهدئة غيرة عشيقها راكهام، الذي شك في وجود علاقة رومانسية بينهما، أخبرته بوني أن ريد كانت امرأة. وأدى التكهن حول العلاقة بين بوني وريد إلى ظهور صور تصور الاثنين في معركة معًا.

تركت ضحية القراصنة، دوروثي توماس، وصفًا لريد وبوني: "كانا يرتديان سترات رجالية وسراويل طويلة ومناديل مربوطة حول رؤوسهما: و... كان كل منهما يحمل سكينًا ومسدسًا في يديه وكانا يشتمان الرجال ويقسمان عليهم بقتلها [دوروثي توماس]". كما سجلت توماس أنها كانت تعلم أنهم نساء، "من ضخامة صدورهم".

الأسر والسجن

في 22 أكتوبر 1720، فاجأ القبطان السابق جوناثان بارنيت طاقم راكهام، بينما استضافوا حفلة روم مع طاقم آخر من الإنجليز في نيغريل بوينت قبالة الساحل الغربي لمستعمرة جامايكا. يُزعم أنه بعد أن عطلت وابل من النيران سفينة القراصنة، فر طاقم راكهام و"ضيوفهم" إلى عنبر السفينة، ولم يتبق سوى المرأتين وامرأة أخرى لمحاربة مجموعة الصعود إلى السفينة التي يقودها بارنت (ومن المحتمل أيضًا أن راكهام وطاقمه كانوا في حالة سُكر شديدة بحيث لم يتمكنوا من القتال). تقول محاضر المحاكمة الرسمية أنه لم يكن هناك دفاع باستثناء إطلاق النار من مسدس دوار قبل أن يطلق بارنت النار ردًا على ذلك. بعد ذلك، تقول السجلات أن راكهام وطاقمه استسلموا، وطلبوا "الرحمة".

تم القبض على راكهام وطاقمه وتقديمهم للمحاكمة في ما يُعرف الآن باسم سبانيش تاون، جامايكا، حيث حُكم عليهم بالإعدام شنقًا بتهمة ارتكاب أعمال قرصنة، وكذلك ريد وبوني. ومع ذلك، ادعت المرأتان أنهما كانتا "سريعتي الحمل" (المعروفة باسم "التوسل بالبطن")، وحصلتا على تأجيلات مؤقتة للإعدام.

توفيت ريد أثناء وجودها في السجن في أبريل 1721. دفنت في 28 أبريل في سجلات كنيسة القديسة كاترين في جامايكا. لا يوجد سجل لدفن طفلها، مما يشير إلى أنها ربما ماتت أثناء الحمل، أو ربما لم تكن حاملاً أبدًا.
