Mary Read (død april 1721), var en engelsk pirat. Hun og Anne Bonny var blandt de få kvindelige pirater under "pirateriets gyldne tidsalder".

Read er sandsynligvis født i England. General History siger, at hun begyndte at klæde sig som dreng i en ung alder, først på sin mors opfordring for at modtage arvepenge og derefter som teenager for at blive medlem af det britiske militær. Hun giftede sig derefter og flyttede efter sin mands død til Vestindien omkring 1715.

Omkring august 1720 sluttede hun sig til Jack Rackhams besætning og klædte sig som en mand sammen med Anne Bonny. Hendes tid som pirat var kort, da hun, Bonny og Rackham blev arresteret i oktober 1720. Rackham blev henrettet i november, men Read og Bonny hævdede begge at være gravide under deres retssager og modtog forsinkede domme. Read døde, mens han var fængslet i april 1721.

Tidligt liv

Marys mor havde giftet sig med en sømand, som hun fik en søn med. Manden forsvandt derefter på havet. Hans mor begyndte derefter at sende hende økonomisk støtte til drengen.

Hun blev hurtigt gravid igen af en anden mand og skjulte den skammelige anden graviditet. Hendes søn døde, så fødte hun en pige, Mary. For at skjule skammen udgav hendes mor unge Mary som sit første og eneste barn, drengen, for fortsat at modtage støtte fra drengens bedstemor. Bedstemoderen blev narret, og de levede af hendes penge så længe som muligt.

I en alder af 13, klædt ud som en dreng, fandt Read arbejde som foddreng og derefter arbejde på et skib. Hun sluttede sig senere til det britiske militær og besætningen på en britisk krigsmand. Hun forlod senere dette og flyttede ind i Flandern, hvor hun bar våben i et regiment af fod som kadet og tjente tappert, men kunne ikke modtage en kommission, fordi forfremmelse i de dage for det meste var ved køb. Mary gik videre til et regiment af heste, som var allieret med hollandske styrker mod franskmændene (dette kunne have været under Niårskrigen eller under den spanske arvefølgekrig). Read, i mandlig forklædning, beviste sig gennem kamp, men forelskede sig i en flamsk soldat. Da de giftede sig, brugte hun deres militære kommission og gaver fra fascinerede våbenbrødre til at erhverve en kro ved navn "De drie hoefijzers" ("De tre hestesko") nær Breda Slot i Holland.

Efter sin mands tidlige død genoptog Read mandlig påklædning og militærtjeneste i Holland. Med fred var der ikke plads til avancement, så hun sagde op og gik ombord på et skib på vej til Vestindien. Skibet, hun gik om bord på, blev tilfældigvis bordet af et piratskib. At være forklædt som en britisk mand hjalp hende, da de britiske besætningsmedlemmer tog hende ind.

At blive pirat

Reads skib blev taget af pirater, som hun villigt sluttede sig til. Hun modtog kongens benådning c. 1718-1719, tog derefter en kommission til kaper, men sluttede sig til besætningen i mytteri. I 1720 sluttede hun sig til piraten John "Calico Jack" Rackham og hans ledsager, Anne Bonny, som begge troede, at hun var en mand. Den 22. august 1720 stjal de tre en bevæbnet slup ved navn William fra havn i Nassau. Forskere er usikre på, hvordan kvindelige pirater som Read og Bonny skjulte deres køn i et mandsdomineret miljø. Nogle forskere har imidlertid teoretiseret, at kvindelige piraters brug af ridebukser enten kan have været en metode til at skjule deres identitet eller blot som praktisk beklædning, der størknede deres arbejdsplads om bord på skibet blandt de andre sømænd.

Da Bonny fortalte Read, at hun var en kvinde, fordi hun var tiltrukket af hende, afslørede Read, at hun også var en kvinde. For at mindske jalousi fra hendes elsker, Rackham, som havde mistanke om romantisk involvering mellem de to, fortalte Bonny ham, at Read var en kvinde. Spekulationer over forholdet mellem Bonny og Read førte til billeder, der skildrer de to i kamp sammen.

Et offer for piraterne, Dorothy Thomas, efterlod en beskrivelse af Read og Bonny: De "bar herrejakker og lange bukser og lommetørklæder bundet om hovedet: og ... hver af dem havde en machete og pistol i hænderne og de bandede og svor på mændene om at myrde hende [Dorothy Thomas]." Thomas skrev også, at hun vidste, at de var kvinder, "fra deres store bryster."

Tilfangetagelse og fængsling

Den 22. oktober 1720 overraskede den tidligere kaptajn Jonathan Barnet Rackhams besætning, mens de var vært for en romfest med en anden besætning af englændere ved Negril Point ud for vestkysten af kolonien Jamaica. Efter at en salve af ild gjorde piratfartøjet deaktiveret, flygtede Rackhams besætning og deres "gæster" angiveligt til lastrummet, hvilket efterlod kun de to kvinder og en anden til at kæmpe mod Barnets boardingselskab (det er også muligt, at Rackham og hans besætning var for fulde at kæmpe). Den officielle retssagsudskrift siger, at der ikke var noget forsvar monteret bortset fra en drejelig pistol, der blev affyret, før Barnet skød som svar. Efter det siger journalen, at Rackham og hans besætning overgav sig og bad om "kvarter".

Rackham og hans besætning blev arresteret og stillet for retten i det nuværende Spanish Town, Jamaica, hvor de blev dømt til at hænge for piratkopiering, ligesom Read og Bonny. Kvinderne hævdede dog, at de begge var "hurtige med barn" (kendt som "pleading the mave") og modtog midlertidige henrettelsesophold.

Read døde, mens hun sad i fængsel i april 1721. Hendes begravelse den 28. april er opført i St. Catherines kirke i Jamaica. Der er ingen registrering af begravelsen af hendes baby, hvilket tyder på, at hun kan være død, mens hun var gravid, eller måske aldrig havde været gravid.
