מרי ריד (מתה באפריל 1721), הייתה פיראטית אנגלית. היא ואן בוני היו בין הפיראטיות הבודדות בתקופת "תור הזהב של הפיראטיות".

ריד כנראה נולד באנגליה. ההיסטוריה הכללית מספרת שהיא החלה להתלבש כילד בגיל צעיר, בהתחלה על פי דרישת אמה כדי לקבל כספי ירושה ולאחר מכן כנערה כדי להצטרף לצבא הבריטי. לאחר מכן היא נישאה ולאחר מותו של בעלה עברה לאי הודו המערבית בסביבות 1715.

בסביבות אוגוסט 1720, היא הצטרפה לצוות של ג'ק רקהם, התלבשה כגבר לצד אן בוני. תקופתה כשודדי ים הייתה קצרה, שכן היא, בוני ורקהאם נעצרו באוקטובר 1720. רקהם הוצאה להורג בנובמבר, אך ריד ובוני טענו שניהם בהריון במהלך המשפטים שלהם וקיבלו עונשים מאוחרים. ריד מת בזמן כלוא באפריל 1721.

חיים מוקדמים

אמה של מרי התחתנה עם ימאי, איתו נולד לה בן. לאחר מכן הבעל נעלם בים. לאחר מכן החלה אמו לשלוח לה תמיכה כספית עבור הילד.

עד מהרה היא נכנסה שוב להריון מגבר אחר, והסתירה את ההריון השני המביש. בנה מת, ואז היא ילדה ילדה, מרי. כדי להסתיר את הבושה, אמה העבירה את מרי הצעירה כילדה הראשון והיחיד, הילד, כדי להמשיך לקבל תמיכה מסבתו של הילד. הסבתא התבדתה, והם חיו על הכסף שלה כמה שיותר זמן.

בגיל 13, לבוש כמו ילד, ריד מצא עבודה בתור נער, ולאחר מכן, עבודה על ספינה. מאוחר יותר הצטרפה לצבא הבריטי ולצוות של איש מלחמה בריטי. מאוחר יותר היא עזבה את זה ועברה לפלנדריה שם נשאה נשק בגדוד רגליים כצוער ושירתה באומץ אבל לא יכלה לקבל עמלה כי הקידום באותם ימים היה בעיקר ברכישה. מרי עברה לגדוד סוסים שהיה בעל ברית עם כוחות הולנדים נגד הצרפתים (זה יכול היה להיות במהלך מלחמת תשע השנים או במהלך מלחמת הירושה הספרדית). ריאד, בתחפושת גברית, הוכיחה את עצמה בקרב, אך התאהבה בחייל פלמי. כשהתחתנו, היא השתמשה בעמלה הצבאית שלהם ובמתנות מאחים לנשק מסוקרנים כדי לרכוש פונדק בשם "De drie hoefijzers" ("שלוש הפרסים") ליד טירת ברדה בהולנד.

עם מותו המוקדם של בעלה, ריד חידשה את הלבוש הגברי ואת השירות הצבאי בהולנד. עם שלום, לא היה מקום להתקדם, אז היא עזבה ועלתה על ספינה לכיוון איי הודו המערבית. על הספינה שעלתה עלתה במקרה ספינת פיראטים. להיות מחופש לגבר בריטי עזר לה, כשאנשי הצוות הבריטים קיבלו אותה.

להיות פיראט

הספינה של ריד נלקחה על ידי פיראטים, אליהם היא הצטרפה ברצון. היא קיבלה את חנינת המלך ג. 1718-1719, אז לקח עמלה לפרייבט, אבל הצטרף לצוות במרד. ב-1720 היא הצטרפה לפיראט ג'ון "קליקו ג'ק" רקהם ולחברתו, אן בוני, ששניהם האמינו שהיא גבר. ב-22 באוגוסט 1720, השלושה גנבו סלופ חמוש בשם וויליאם מנמל בנסאו. חוקרים אינם בטוחים כיצד פיראטיות כמו ריד ובוני הסתירו את המין שלהן בסביבה הנשלטת על ידי גברים. עם זאת, יש חוקרים שהאמינו כי לבישת מכנסיים על ידי פיראטיות עשויה להיות שיטה להסתרת זהותן או פשוט כלבוש מעשי שמגבש את מקום עבודתן על סיפון הספינה בין שאר הימאים.

כשבוני אמרה לריד שהיא אישה בגלל שהיא נמשכת אליה, ראד גילתה שגם היא אישה. כדי להפיג את קנאתו של אהובה, רקהם, שחשד במעורבות רומנטית בין השניים, בוני אמרה לו שריד היא אישה. ספקולציות בנוגע ליחסים בין בוני לריד הובילו לתמונות המתארות את השניים בקרב יחד.

קורבן של הפיראטים, דורותי תומס, השאירה תיאור של ריא ובוני: הם "לבשו ז'קטים של גברים, ומכנסיים ארוכים, ומטפחות קשורות על ראשיהם: ו... לכל אחד מהם היה מצ'טה ואקדח בידיהם ו... הם קיללו ונשבעו את הגברים לרצוח אותה [דורותי תומס]". תומס גם רשמה שהיא יודעת שהן נשים, "מגודל החזה שלהן".

תפיסה וכליאה

ב-22 באוקטובר 1720, הקפטן לשעבר ג'ונתן בארנט הפתיע את צוותו של רקהם, בזמן שהם אירחו מסיבת רום עם צוות נוסף של אנגלים בנגריל פוינט מול החוף המערבי של המושבה של ג'מייקה. לכאורה, לאחר שמטח אש השבית את כלי השיט הפיראטיים, הצוות של רקהם ו"אורחיהם" נמלטו למעצר, והותירו רק שתי הנשים ואחת נוספת להילחם במסיבת העלייה למטוס של בארנט (ייתכן גם שרקהאם וצוותו היו שיכורים מדי להילחם). פרוטוקול המשפט הרשמי אומר שלא הייתה שום הגנה מלבד ירי של אקדח מסתובב לפני שברנט ירה בתגובה. לאחר מכן, הרשומה אומרת שרקהאם והצוות שלו נכנעו, וביקשו "רבע".

רקהאם וצוותו נעצרו והובאו למשפט במקום שכיום הוא ספרדית טאון, ג'מייקה, שם נידונו לתלייה בגין מעשי פיראטיות, וכך גם ריד ובוני. עם זאת, הנשים טענו ששניהם היו "מהירים עם ילדים" (הידועים כ"מתחננים בבטן"), וקיבלו עיכובים זמניים של הוצאה להורג.

ריאד מתה בזמן שהייתה בכלא באפריל 1721. קבורתה ב-28 באפריל נמצאת ברשומות של כנסיית סנט קתרין בג'מייקה. אין תיעוד לקבורה של תינוקה, מה שמצביע על כך שייתכן שהיא מתה בהריון, או אולי מעולם לא הייתה בהריון.
