Mary Read (décédée en avril 1721) était une pirate anglaise. Elle et Anne Bonny étaient parmi les rares femmes pirates pendant « l'âge d'or de la piraterie ».

Read est probablement née en Angleterre. L'histoire générale dit qu'elle a commencé à s'habiller en garçon à un jeune âge, d'abord à la demande de sa mère afin de recevoir de l'argent d'héritage, puis à l'adolescence afin de rejoindre l'armée britannique. Elle s'est ensuite mariée et, à la mort de son mari, s'est installée aux Antilles vers 1715.

Vers août 1720, elle rejoint l'équipage de Jack Rackham, s'habillant en homme aux côtés d'Anne Bonny. Son passage en tant que pirate fut de courte durée, car elle, Bonny et Rackham furent arrêtés en octobre 1720. Rackham fut exécuté en novembre, mais Read et Bonny prétendirent toutes deux être enceintes lors de leurs procès et reçurent des peines différées. Read mourut en prison en avril 1721.

Jeunesse

La mère de Mary avait épousé un marin, avec qui elle eut un fils. Le mari disparut alors en mer. Sa mère commença alors à lui envoyer de l'argent pour le garçon.

Elle tomba bientôt enceinte d'un autre homme, cachant cette honteuse deuxième grossesse. Son fils mourut, puis elle donna naissance à une fille, Mary. Pour cacher la honte, sa mère fit passer la jeune Mary pour son premier et unique enfant, le garçon, afin de continuer à recevoir l'aide de la grand-mère du garçon. La grand-mère fut dupée et ils vécurent de son argent aussi longtemps que possible.

À l'âge de 13 ans, habillée en garçon, Read trouva du travail comme valet de pied, puis un emploi sur un navire. Elle rejoignit plus tard l'armée britannique et l'équipage d'un navire de guerre britannique. Elle quitta plus tard cette carrière et s'installa en Flandre où elle porta les armes dans un régiment d'infanterie en tant que cadette et servit courageusement mais ne put recevoir de commission car la promotion à l'époque se faisait principalement par achat. Mary passa dans un régiment de cavalerie allié aux forces hollandaises contre les Français (cela aurait pu se passer pendant la guerre de Neuf Ans ou pendant la guerre de Succession d'Espagne). Read, déguisée en homme, fit ses preuves au combat, mais tomba amoureuse d'un soldat flamand. Lorsqu'ils se marièrent, elle utilisa leur commission militaire et les cadeaux de ses frères d'armes intrigués pour acquérir une auberge appelée « De drie hoefijzers » (« Les Trois Fers à Cheval ») près du château de Breda aux Pays-Bas.

Après la mort prématurée de son mari, Read reprit sa tenue masculine et son service militaire aux Pays-Bas. Avec la paix, il n'y avait plus de place pour l'avancement, alors elle démissionna et monta à bord d'un navire à destination des Antilles. Le navire sur lequel elle monta à bord fut abordé par un navire pirate. Le fait d'être déguisée en homme britannique l'aida, car les membres de l'équipage britannique l'accueillirent.

Devenir pirate

Le navire de Read fut pris par des pirates, qu'elle rejoignit de son plein gré. Elle accepta le pardon du roi vers 1718-1719, puis accepta une commission de corsaire, mais rejoignit l'équipage lors de la mutinerie. En 1720, elle rejoignit le pirate John « Calico Jack » Rackham et sa compagne, Anne Bonny, qui la prenaient tous deux pour un homme. Le 22 août 1720, les trois volèrent un sloop armé nommé William dans le port de Nassau. Les chercheurs ne savent pas exactement comment les femmes pirates comme Read et Bonny dissimulaient leur sexe dans un environnement dominé par les hommes. Certains chercheurs ont cependant émis l'hypothèse que le port de culottes par les femmes pirates pouvait être soit une méthode pour cacher leur identité, soit simplement un vêtement pratique qui solidifiait leur place de travail à bord du navire parmi les autres marins.

Lorsque Bonny dit à Read qu'elle était une femme parce qu'elle était attirée par elle, Read révéla qu'elle aussi était une femme. Pour apaiser la jalousie de son amant, Rackham, qui soupçonnait une relation amoureuse entre les deux, Bonny lui dit que Read était une femme. Les spéculations sur la relation entre Bonny et Read ont conduit à des images représentant les deux en train de se battre ensemble.

Une victime des pirates, Dorothy Thomas, a laissé une description de Read et Bonny : Ils « portaient des vestes d'homme, des pantalons longs et des mouchoirs noués autour de la tête : et ... chacun d'eux avait une machette et un pistolet dans leurs mains et ils maudissaient et juraient aux hommes de la tuer [Dorothy Thomas] ». Thomas a également noté qu'elle savait qu'ils étaient des femmes, « à la taille de leurs seins ».

Capture et emprisonnement

Le 22 octobre 1720, l'ancien capitaine corsaire Jonathan Barnet a pris l'équipage de Rackham par surprise, alors qu'ils organisaient une fête du rhum avec un autre équipage d'Anglais à Negril Point au large de la côte ouest de la colonie de la Jamaïque. Après qu'une salve de tirs eut désemparé le navire pirate, l'équipage de Rackham et ses « invités » se seraient enfuis dans la cale, ne laissant que les deux femmes et une autre personne pour combattre l'équipe d'abordage de Barnet (il est également possible que Rackham et son équipage aient été trop ivres pour se battre). La transcription officielle du procès indique qu'aucune défense n'a été montée, à part un tir de pierrier avant que Barnet ne tire en réponse. Après cela, le dossier indique que Rackham et son équipage se sont rendus, demandant « quartier ».

Rackham et son équipage ont été arrêtés et traduits en justice dans ce qui est aujourd'hui Spanish Town, en Jamaïque, où ils ont été condamnés à la pendaison pour actes de piraterie, tout comme Read et Bonny. Cependant, les femmes ont affirmé qu'elles étaient toutes les deux « enceintes » (ce que l'on appelle « plaider le ventre ») et ont reçu des sursis temporaires à exécution.

Read est décédée en prison en avril 1721. Son enterrement le 28 avril est enregistré dans les registres de l'église Sainte-Catherine en Jamaïque. Il n'existe aucune trace de l'enterrement de son bébé, ce qui suggère qu'elle est peut-être morte alors qu'elle était enceinte, ou peut-être qu'elle n'a jamais été enceinte.
