Mary Read (morta l'abril de 1721), va ser una pirata anglesa. Ella i Anne Bonny estaven entre les poques dones pirates durant l'"Edat d'Or de la Pirateria".

Read probablement va néixer a Anglaterra. Història General diu que va començar a vestir-se de nen a una edat jove, primer a instàncies de la seva mare per rebre diners de l'herència i després d'adolescent per unir-se a l'exèrcit britànic. Després es va casar i després de la mort del seu marit es va traslladar a les Índies Occidentals al voltant de 1715.

Cap a l'agost de 1720, es va unir a la tripulació de Jack Rackham, vestida d'home al costat d'Anne Bonny. El seu temps com a pirata va ser de curta durada, ja que ella, Bonny i Rackham van ser arrestats l'octubre de 1720. Rackham va ser executat al novembre, però Read i Bonny van afirmar estar embarassades durant els seus judicis i van rebre condemnes retardades. Read va morir mentre estava empresonat l'abril de 1721.

Vida primerenca

La mare de Maria s'havia casat amb un mariner, amb qui va tenir un fill. Aleshores el marit va desaparèixer al mar. Aleshores, la seva mare va començar a enviar-li suport econòmic per al nen.

Aviat va tornar a quedar embarassada d'un altre home, amagant el vergonyós segon embaràs. El seu fill va morir, després va donar a llum una nena, Mary. Per amagar la vergonya, la seva mare va fer passar la jove Mary com el seu primer i únic fill, el nen, per continuar rebent el suport de l'àvia del nen. L'àvia es va enganyar i van viure amb els seus diners el màxim temps possible.

Als 13 anys, vestit de nen, Read va trobar feina com a infant i, després, feina a un vaixell. Més tard es va unir a l'exèrcit britànic i a la tripulació d'un home de guerra britànic. Més tard va deixar això i es va traslladar a Flandes on portava armes en un regiment de peu com a cadet i va servir amb valentia però no va poder rebre cap comissió perquè la promoció en aquells temps era majoritàriament per compra. Mary va passar a un regiment de cavalls que es va aliar amb les forces holandeses contra els francesos (això podria haver estat durant la Guerra dels Nou Anys o durant la Guerra de Successió). Read, disfressat masculí, es va demostrar a través de la batalla, però es va enamorar d'un soldat flamenc. Quan es van casar, va utilitzar la seva comissió militar i els regals de germans d'armes intrigats per adquirir una fonda anomenada "De drie hoefijzers" ("Les tres ferradures") prop del castell de Breda als Països Baixos.

A la mort prematura del seu marit, Read va reprendre la vestimenta masculina i el servei militar als Països Baixos. Amb la pau, no hi havia marge per avançar, així que va renunciar i va pujar a un vaixell amb destinació a les Índies Occidentals. El vaixell al qual va abordar va ser embarcat per un vaixell pirata. Estar disfressat d'home britànic la va ajudar, ja que els membres de la tripulació britànic la van acollir.

Convertint-se en un pirata

La nau de Read va ser presa per pirates, als quals es va unir de bon grat. Va acceptar el perdó del rei c. 1718-1719, després va prendre un encàrrec de corsari, però es va unir a la tripulació en motí. El 1720 es va unir al pirata John "Calico Jack" Rackham i la seva companya, Anne Bonny, que tots dos creien que era un home. El 22 d'agost de 1720, els tres van robar un balandro armat anomenat William del port de Nassau. Els estudiosos no saben com les dones pirates com Read i Bonny amaguen el seu sexe en un entorn dominat per homes. Alguns estudiosos, però, han teoritzat que l'ús de pantalons per part de les dones pirates podria haver estat un mètode per ocultar la seva identitat o simplement com a roba pràctica que solidificava el seu lloc de treball a bord del vaixell entre els altres mariners.

Quan Bonny va dir a Read que era una dona perquè se sentia atreta per ella, Read va revelar que ella també era una dona. Per apaivagar la gelosia del seu amant, Rackham, que sospitava d'una relació romàntica entre tots dos, Bonny li va dir que Read era una dona. Les especulacions sobre la relació entre Bonny i Read van donar lloc a imatges que representaven els dos en batalla junts.

Una víctima dels pirates, Dorothy Thomas, va deixar una descripció de Read i Bonny: "Portaven jaquetes d'home, pantalons llargs i mocadors lligats al cap: i... cadascun d'ells tenia un matxet i una pistola a les mans i van maleir i van jurar als homes que la matarien [Dorothy Thomas]". Thomas també va registrar que sabia que eren dones, "per la amplitud dels seus pits".

Captura i empresonament

El 22 d'octubre de 1720, l'antic capità corsari Jonathan Barnet va prendre per sorpresa la tripulació de Rackham, mentre organitzaven una festa de rom amb una altra tripulació d'anglesos a Negril Point, davant de la costa oest de la Colònia de Jamaica. Suposadament, després que una descarga de foc va inhabilitar el vaixell pirata, la tripulació de Rackham i els seus "convidats" van fugir a la bodega, deixant només les dues dones i una altra per lluitar contra el grup d'embarcament de Barnet (també és possible que Rackham i la seva tripulació estiguessin massa borratxos). lluitar). La transcripció oficial del judici diu que no hi havia cap defensa muntada a part d'una pistola giratòria que es disparava abans que Barnet disparés en resposta. Després d'això, el registre diu que Rackham i la seva tripulació es van rendir, demanant "quarter".

Rackham i la seva tripulació van ser arrestats i portats a judici a l'actual Spanish Town, Jamaica, on van ser condemnats a la penca per actes de pirateria, igual que Read i Bonny. No obstant això, les dones van afirmar que tots dos eren "ràpids amb el fill" (conegut com "suplicant el ventre") i van rebre suspensió temporal d'execució.

Read va morir mentre estava a la presó l'abril de 1721. El seu enterrament el 28 d'abril es troba als registres de l'església de Santa Caterina a Jamaica. No hi ha constància de l'enterrament del seu nadó, cosa que suggereix que podria haver mort mentre estava embarassada, o potser mai no havia estat embarassada.
