Mary Read (falecida em abril de 1721) foi uma pirata inglesa. Ela e Anne Bonny estavam entre as poucas mulheres piratas durante a "Era de Ouro da Pirataria".

Read provavelmente nasceu na Inglaterra. A História Geral diz que ela começou a se vestir como menino ainda jovem, primeiro por insistência da mãe para receber o dinheiro da herança e, depois, quando adolescente, para se alistar no exército britânico. Ela então se casou e, após a morte do marido, mudou-se para as Índias Ocidentais por volta de 1715.

Por volta de agosto de 1720, ela se juntou à tripulação de Jack Rackham, vestindo-se como homem ao lado de Anne Bonny. Seu tempo como pirata durou pouco, pois ela, Bonny e Rackham foram presos em outubro de 1720. Rackham foi executado em novembro, mas Read e Bonny alegaram estar grávidas durante seus julgamentos e receberam sentenças adiadas. Read morreu enquanto estava presa em abril de 1721.

Vida pregressa

A mãe de Mary havia se casado com um marinheiro, com quem teve um filho. O marido desapareceu no mar. Sua mãe começou então a enviar-lhe apoio financeiro para o menino.

Ela logo engravidou novamente de outro homem, escondendo a vergonhosa segunda gravidez. Seu filho morreu e ela deu à luz uma menina, Mary. Para esconder a vergonha, a mãe fez com que a jovem Mary se passasse por seu primeiro e único filho, o menino, para continuar recebendo o sustento da avó do menino. A avó foi enganada, e eles viveram com o dinheiro dela o máximo possível.

Aos 13 anos de idade, vestida de menino, Read encontrou trabalho como peão e, depois, em um navio. Mais tarde, ela se juntou ao exército britânico e à tripulação de um navio de guerra britânico. Mais tarde, ela deixou o serviço e foi para Flandres, onde pegou em armas em um regimento de infantaria como cadete e serviu bravamente, mas não pôde receber uma comissão porque a promoção naquela época era feita principalmente por compra. Mary passou para um regimento de cavalos que se aliou às forças holandesas contra os franceses (isso pode ter ocorrido durante a Guerra dos Nove Anos ou durante a Guerra da Sucessão Espanhola). Read, disfarçada de homem, provou seu valor em batalha, mas se apaixonou por um soldado flamengo. Quando se casaram, ela usou sua comissão militar e presentes de irmãos de armas intrigados para adquirir uma pousada chamada "De drie hoefijzers" ("As três ferraduras") perto do Castelo de Breda, na Holanda.

Após a morte prematura do marido, Read voltou a se vestir como homem e a prestar serviço militar na Holanda. Com a paz, não havia espaço para progresso, então ela se demitiu e embarcou em um navio com destino às Índias Ocidentais. O navio em que ela embarcou acabou sendo abordado por um navio pirata. O fato de estar disfarçada de homem britânico a ajudou, pois os membros da tripulação britânica a acolheram. 

Tornando-se um pirata

O navio de Read foi tomado por piratas, aos quais ela se juntou de bom grado. Ela aceitou o perdão do rei entre 1718 e 1719 e, em seguida, foi contratada como corsária, mas juntou-se à tripulação em um motim. Em 1720, ela se juntou ao pirata John "Calico Jack" Rackham e sua companheira, Anne Bonny, que acreditavam que ela era um homem. Em 22 de agosto de 1720, os três roubaram um saveiro armado chamado William do porto de Nassau. Os estudiosos não sabem ao certo como piratas do sexo feminino, como Read e Bonny, escondiam seu sexo em um ambiente dominado por homens. Alguns estudiosos, no entanto, teorizaram que o uso de calções por piratas do sexo feminino pode ter sido um método de ocultar sua identidade ou simplesmente uma roupa prática que solidificava seu lugar de trabalho a bordo do navio entre os outros marinheiros.

Quando Bonny disse a Read que era uma mulher porque se sentia atraída por ela, Read revelou que ela também era uma mulher. Para diminuir o ciúme de seu amante, Rackham, que suspeitava de um envolvimento romântico entre os dois, Bonny lhe disse que Read era uma mulher. A especulação sobre o relacionamento entre Bonny e Read levou a imagens que mostravam os dois juntos em uma batalha.

Uma vítima dos piratas, Dorothy Thomas, deixou uma descrição de Read e Bonny: eles "usavam jaquetas masculinas, calças compridas e lenços amarrados na cabeça: e (...) cada um deles tinha um facão e uma pistola nas mãos e xingavam e juravam aos homens que a matariam [Dorothy Thomas]". Thomas também registrou que sabia que eles eram mulheres, "pelo tamanho de seus seios".

Captura e prisão

Em 22 de outubro de 1720, o ex-capitão corsário Jonathan Barnet pegou a tripulação de Rackham de surpresa, enquanto eles organizavam uma festa de rum com outra tripulação de ingleses em Negril Point, na costa oeste da Colônia da Jamaica. Supostamente, depois que uma salva de tiros desativou o navio pirata, a tripulação de Rackham e seus "convidados" fugiram para o porão, deixando apenas as duas mulheres e uma outra pessoa para lutar contra o grupo de abordagem de Barnet (também é possível que Rackham e sua tripulação estivessem bêbados demais para lutar). A transcrição oficial do julgamento diz que não houve defesa além de uma arma giratória ter sido disparada antes de Barnet disparar em resposta. Depois disso, o registro diz que Rackham e sua equipe se renderam, pedindo "quartel".

Rackham e sua tripulação foram presos e levados a julgamento no que hoje é Spanish Town, na Jamaica, onde foram condenados à forca por atos de pirataria, assim como Read e Bonny. No entanto, as mulheres alegaram que ambas estavam "grávidas" (conhecido como "pleading the belly") e receberam suspensão temporária da execução.

Read morreu na prisão em abril de 1721. Seu enterro, em 28 de abril, consta dos registros da igreja de St. Catherine, na Jamaica. Catherine, na Jamaica. Não há registro do enterro de seu bebê, o que sugere que ela pode ter morrido durante a gravidez ou talvez nunca tenha estado grávida. 
