Mērija Rīda (mirusi 1721. gada aprīlī) bija angļu pirāte. Viņa un Anna Bonija bija vienas no nedaudzajām sievietēm pirātēm "pirātisma zelta laikmeta" laikā.

Rīda, visticamāk, bija dzimusi Anglijā. Vispārējā vēsture vēsta, ka viņa jau agrā bērnībā sāka pārģērbties par zēnu - sākumā pēc mātes mudinājuma, lai saņemtu mantojuma naudu, bet pēc tam kā pusaudze, lai iestātos britu armijā. Pēc tam viņa apprecējās un pēc vīra nāves ap 1715. gadu pārcēlās uz Rietumindiju.

Apmēram 1720. gada augustā viņa pievienojās Džeka Rekema ekipāžai, pārģērbjoties par vīrieti kopā ar Annu Boniju. Viņas pirātiskās darbības laiks bija īss, jo 1720. gada oktobrī viņa, Bonijs un Račams tika arestēti. Rahemam novembrī izpildīja nāvessodu, bet Reita un Bonija tiesas procesa laikā apgalvoja, ka ir grūtnieces, un saņēma atliktus sodus. Rīda nomira ieslodzījumā 1721. gada aprīlī.

Agrīnā dzīve

Marijas māte bija precējusies ar jūrnieku, ar kuru viņai bija dēls. Pēc tam vīrs pazuda jūrā. Viņa māte sāka sūtīt finansiālu atbalstu zēnam.

Drīz vien viņa atkal kļuva stāvoklī no cita vīrieša, slēpjot apkaunojošo otro grūtniecību. Viņas dēls nomira, un tad viņai piedzima meitene Marija. Lai noslēptos no kauna, māte jauno Mariju izdeva par savu pirmo un vienīgo bērnu, zēnu, lai turpinātu saņemt atbalstu no zēna vecmāmiņas. Vecmāmiņa tika apmānīta, un viņi dzīvoja par viņas naudu, cik ilgi vien iespējams.

Trīspadsmit gadu vecumā, pārģērbusies par zēnu, Rīdija atrada darbu kā kājniece, bet pēc tam - darbu uz kuģa. Vēlāk viņa iestājās britu armijā un britu karakuģa apkalpē. Vēlāk viņa to pameta un pārcēlās uz Flandriju, kur kā kadete nēsāja ieročus kājnieku pulkā un drosmīgi dienēja, taču nevarēja saņemt dienesta pakāpi, jo paaugstināšana amatā tajos laikos lielākoties notika ar pirkšanu. Marija pārgāja uz zirgu pulku, kas bija Nīderlandes spēku sabiedrotais pret frančiem (tas varētu būt noticis Deviņu gadu kara laikā vai Spānijas mantojuma kara laikā). Rīda, pārģērbusies vīrieša tērpā, pierādīja sevi kaujās, bet iemīlējās flāmu karavīrā. Kad viņi apprecējās, viņa izmantoja viņu militāro pilnvarojumu un intriģētu brāļu bruņinieku dāvanas, lai iegādātos krodziņu "De drie hoefijzers" ("Trīs pakavi") netālu no Bredas pils Nīderlandē.

Pēc vīra agrīnas nāves Rīda atsāka vīriešu tērpu un militāro dienestu Nīderlandē. Iestājoties mieram, nebija iespēju paaugstināties amatā, tāpēc viņa pameta dienestu un iekāpa uz kuģa, kas devās uz Rietumindiju. Uz kuģa, kurā viņa iekāpa, nejauši uzkāpa pirātu kuģis. Pārģērbšanās par britu vīrieti viņai palīdzēja, jo britu apkalpes locekļi viņu pieņēma.

Kļūšana par pirātu

Readas kuģi ieņēma pirāti, kuriem viņa labprāt pievienojās. Viņa pieņēma karaļa apžēlošanu ap 1718.-1719. g., pēc tam pieņēma kapteiņa pasūtījumu, bet pievienojās apkalpei un sacēlās nemierā. 1720. gadā viņa pievienojās pirātam Džonam "Calico Jack" Rackham un viņa pavadonei Annei Bonny, kuri abi uzskatīja viņu par vīrieti. 1720. gada 22. augustā visi trīs no Nassau ostas nozaga bruņotu slūpuli vārdā Viljamss. Pētnieki nav pārliecināti, kā tādas sievietes pirātes kā Rīda un Bonija slēpa savu dzimumu vīriešu dominētajā vidē. Tomēr daži pētnieki ir izvirzījuši teoriju, ka sieviešu pirātu bridžu valkāšana varēja būt vai nu identitātes slēpšanas metode, vai arī vienkārši praktisks apģērbs, kas nostiprināja viņu darba vietu uz kuģa starp citiem jūrniekiem.

Kad Bonija pateica Rīdam, ka viņa ir sieviete, jo viņu piesaistīja, Rīds atklāja, ka arī viņa ir sieviete. Lai mazinātu sava mīļotā Rahema greizsirdību, kuram radās aizdomas par abu romantisku saistību, Bonija pateica viņam, ka Rīdija ir sieviete. Spekulācijas par Bonija un Rīdas attiecībām radīja attēlus, kuros abi attēloti kopā kaujā.

Pirātu upuris Dorotija Tomasa (Dorothy Thomas) bija atstājusi Rīda un Bonija aprakstu: "Viņi bija tērpušies vīriešu žaketēs, garās biksēs un ap galvām apvilkti kabatlakatiņi, un ... katram no viņiem rokās bija mačete un pistole, un viņi kliedza un zvērēja vīriešiem, ka viņi viņu [Dorotiju Tomasu] nogalinās." Tomasa arī pierakstīja, ka viņa zināja, ka tās ir sievietes, "pēc viņu krūšu lieluma".

Notveršana un ieslodzījums

1720. gada 22. oktobrī bijušais kapteinis kapteinis Džonatans Barnets pārsteidza Rahema apkalpi, kad viņi kopā ar citu angļu apkalpi rīkoja ruma ballīti Negril Point pie Jamaikas kolonijas rietumu piekrastes. Tiek apgalvots, ka pēc tam, kad pirātu kuģis tika apšaudīts, Račema apkalpe un viņu "viesi" aizbēga uz kuģa kravas telpu, atstājot tikai divas sievietes un vēl vienu, kas cīnījās ar Barneta desantu (iespējams arī, ka Račems un viņa apkalpe bija pārāk piedzērušies, lai cīnītos). Oficiālajā tiesas sēdes stenogrammā teikts, ka, izņemot to, ka tika izšauts no grozāmā lielgabala, pirms Barnet atbildē izšāva, nekādas aizsardzības nebija. Pēc tam protokolā teikts, ka Rackham un viņa apkalpe padevās, pieprasot "ceturksni".

Rekhemu un viņa apkalpi arestēja un nogādāja tiesā tagadējā Spānijas pilsētā Jamaikā, kur viņiem, tāpat kā Rīdam un Bonijam, piesprieda nāvessodu - pakāršanu par pirātismu. Tomēr sievietes apgalvoja, ka abas ir "ātri dzemdējušas" (tā sauktā "vēdera aizbildināšanās"), un uz laiku tika atbrīvotas no nāvessoda izpildes.

Rīda nomira cietumā 1721. gada aprīlī. Viņas apbedījums 28. aprīlī ir ierakstīts Svētās Katrīnas baznīcas ierakstos Jamaikā. Nav ierakstu par viņas bērna apbedīšanu, kas liek domāt, ka viņa, iespējams, nomira grūtniecības laikā vai varbūt nekad nav bijusi stāvoklī.
